<modal-auto app-show="view.modal == 'set_up'" data-title="Create a new <%- edit_label %>" required>

    <div class="grid pb-2 gap-1 col-2 col-s-1" style="align-items: start;">

        <div class="my-1">
            <label class="capitalise"><%- edit_label %> Title</label>
            <input type="text" onchange="scope.view.pages.title = this.value">
        </div>

        <div class="my-1">
            <% if (table == 'pages_website'){%>
            <label class="">Page Category</label>
            <select onchange="scope.view.pages.type = this.value">
                <option value="" selected>None</option>
                <% if (typeof option_data != 'undefined'){ %>
                    <% option_data.forEach((option)=>{ %>
                        <option class="capitalise" value="<%- option._key %>"><%- option.name %></option>
                    <% }) %>
                <% } %>
            </select>
            <% } %>
        </div>

    </div>

    <div class="flex flex-middle-right">
        <button class="btn highlight capitalise" app-click="savePage(<% if (table == 'pages_templates'){%><%- true %><% } %>)">
            <span>Create <%- edit_label %></span>
        </button>

    </div>

</modal-auto>
