<h2 class="h4">Payment</h2>
<div class="hidden" id="stripe-id" data-stripe-id="<%- stripe_id %>"></div>
<form action="/charge" method="post" id="payment-form" class="stripe mt-1">
    <div class="form-row">
        <label for="card-element" class="w-40 margin-auto mb-2">
            <img src="/images/payment_icons.png" class="">
        </label>

        <% if (typeof methods != "undefined"){ %>
            <div class="my-1 text-left">
                <% for (var i in methods){ %>
                    <label class="p-1 bg-white rounded block mb-1 text-center clickable"><input type="radio" name="payment_method" value="<%- methods[i].id %>" class="mr-5">**** **** **** <%- methods[i].card.last4 %></label>
                <% } %>
            </div>
        <% } %>

        <input type="text" class="underline" value="<% if (typeof cart.customer == "object" && cart.customer.full_name){ %><%- cart.customer.full_name %><% } %>" id="customer_name" placeholder="Name on card">

        <input type="text" class="underline" value="<% if (typeof cart.customer == "object" && cart.customer.email){ %><%- cart.customer.email %><% } %>" id="customer_email" placeholder="Email address">

        <input type="text" class="underline" value="<% if (typeof cart.customer == "object" && cart.customer.tel){ %><%- cart.customer.tel %><% } %>" id="customer_tel" placeholder="Phone number">

        <div id="card-element" class="mt-2">
        <!-- A Stripe Element will be inserted here. -->
        </div>

        <div id="card-errors" role="alert" class="mb-2 text-33-red"></div>
        <% if (typeof error != "undefined"){ %>
            <div id="card-errors" role="alert" class="mb-2 text-33-red"><%- error %></div>
        <% } %>
    </div>



    <% if (typeof intent == "object" && intent.client_secret){ %>
    <input type="hidden" value="<%- intent.client_secret %>" id="client_secret">

    <button class="btn bg-secondary w-100 thick" id="pay-now">Pay Now</button>
    <% } %>
</form>
