<section class="py-2 <% if (typeof styling != 'undefined' && styling.background){ %><%- styling.background.class %><% } %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Text Single Column" app-block-description="This is a single column text block">

    <div class="contain <%- data.container_classes %>"  app-input="none" app-field="container" app-styling="container_class">

        <div class="text-pre-line <%- data.text_classes %>" app-input="textarea" app-field="text" app-styling="text_class">
            <%- data.text %>
        </div>

    </div>

</section>
