<% layout(config.site.theme+'/dashboard.ejs') -%>

    <div class="grid col-2 col-s-1">
        <div class="flex flex-left-top flex-column">
            <h1 class="h4 text-weight-600"><%- title %></h1>
            <p class="transparent-2 mt-0">This table contains <span app-bind="<%- table %>.length"></span> items</p>
        </div>
        <div class="flex flex-top-right flex-column-s">
            <button class="flex-none btn highlight" app-click="editProduct('<%- table %>')">New <%- view.functions.parseName(table,true) %></button>
        </div>
    </div>

    <div class="flex my-1">
        <div class="context-link btn bg-mid-grey text-black" app-click="toggleContext('filter')">
            Filter
            <i class="fas fa-chevron-down ml-1"></i>
        </div>
        <% if (typeof search_fields == 'object'){ %>
            <div class="flex-1 flex w-s-100 mb-s-2">
                <button class="bg-33-white text-33-grey pr-0"><i class="fas fa-search"></i></button>
                <input type="text" app-change="search('<%- table %>')" placeholder="Search by <%- view.functions.parseSearchFields(search_fields) %>">
            </div>
        <% } %>
    </div>

    <%- include(basedir+'/components/dashboard/views/partials/table.ejs') %>

    <div id="context" class="context dropdown text-left" style="display: none">
        <div class="link" app-click="editProduct('<%- table %>')">
            <i class="fas fa-pen-alt"></i>
            Edit
        </div>
        <div class="link" app-click="deleteItem('<%- table %>')">
            <i class="fas fa-trash"></i>
            Delete
        </div>
    </div>

    <div id="filter" class="context dropdown text-left" style="display: none">
        <a class="link" href="/dashboard/products">
            <i class="fas fa-pen-alt"></i>
            All
        </a>
        <a class="link" href="/dashboard/products/inactive">
            <i class="fas fa-pen-alt"></i>
            Inactive
        </a>
        <a class="link" href="/dashboard/products/sale">
            <i class="fas fa-pen-alt"></i>
            On Sale
        </a>
    </div>


    <modal-auto app-show="view.modal == 'show_product_edit'" data-title="Product" class="modal-auto-large">

        <div class="tabs mb-2" app-init="view.tab = 'details'">
            <a app-click="view.tab = 'details'" app-class="{'active':view.tab == 'details'}">Details</a>
            <a app-click="view.tab = 'gallery'" app-class="{'active':view.tab == 'gallery'}">Gallery</a>
            <a app-click="view.tab = 'prices'" app-class="{'active':view.tab == 'prices'}">Prices</a>
            <a app-click="view.tab = 'attributes'" app-class="{'active':view.tab == 'attributes'}">Attributes</a>
            <a app-click="view.tab = 'customisation'" app-class="{'active':view.tab == 'customisation'}">Customisation</a>
        </div>

        <div app-show="view.tab == 'details'">

            <div class="grid pb-2 gap-2 col-3" style="align-items: start;">

                <div class="rowspan-7 flex flex-column flex-middle-left">
                    <label for="image" class="clickable"><img src="/images/Product_Placeholder.svg" app-src="new.image" class="object-fit"></label>
                    <input id="image" type="file" app-model="new.image">
                </div>

                <div class="flex flex-column flex-middle-left">
                    <label>Name</label>
                    <input type="text" app-model="new.name" placeholder="Add a product name">
                </div>

                <div class="flex flex-column flex-middle-left">
                    <label>Slug</label>
                    <input type="text" app-model="new.slug" placeholder="Add a URL">
                </div>

                <div class="colspan-2 flex flex-column flex-middle-left">
                    <label><input type="checkbox" app-model="new.activated"> Activated</label>

                </div>

                <div class="flex flex-column flex-middle-left">
                    <label>Brand</label>
                    <input type="text" app-model="new.brand" placeholder="Product Brand">
                </div>

                <div class="flex flex-column flex-middle-left">
                    <label>Barcode</label>
                    <input type="text" app-model="new.barcode" placeholder="Product Barcode number">
                </div>

                <div class="flex flex-column flex-middle-left">
                    <label>Category</label>
                    <select app-model="new.category">

                        <% if (typeof option_data == 'object' && option_data.length > 0){ %>
                            <% option_data.forEach((option)=>{ %>
                                <option value="<%- option._key %>"><%- option.name %></option>
                            <% }) %>
                        <% } %>

                    </select>
                </div>

                <div class="flex flex-column flex-middle-left">
                    <label>Sub Category</label>
                    <select app-model="new.sub_category">
                        <option value="" selected>None</option>
                        <option app-for="sub_category in sub_categories" app-attr="{'value':sub_category._key}" app-bind="sub_category.name"></option>
                    </select>
                </div>


                <div class="colspan-2 rowspan-2 flex flex-column flex-middle-left">
                    <div class="grid col-3 flex-none w-100">
                        <div class="colspan-2"><label>Descripton</label></div>
                        <div class="text-right text-small pr-1"><span app-bind="new.description.length" app-class="{'text-error':new.description.length > 160}"></span>/160 chars</div>
                    </div>
                    <textarea app-model="new.description" placeholder="Add a description"></textarea>
                </div>

                <div class="colspan-3 rowspan-2">
                    <div class="grid col-2">
                        <label>Content</label>
                        <div class="text-right">
                            <label><input type="checkbox" app-model="new.content_before_details" class="mr-05">Show content before product details</label>
                        </div>
                    </div>
                    <%- include(view.basedir+'/themes/'+config.site.theme+'/partials/editor_buttons.ejs',{editor_button_type:'blog'}) %>
                    <div id="product_content" class="large resize contenteditable" app-model="new.content" contenteditable="true"></div>
                </div>

            </div>

        </div>

        <div app-show="view.tab == 'gallery'">

            <div class="flex flex-row mb-1">
                <label for="new_image" class="btn bg-33-blue"><span app-bind="view.upload_text"></span> <i class="fas fa-image ml-1"></i></label>
                <input type="file" app-model="new.gallery_new" app-change="uploadImg(new.gallery_new,'new.gallery','new.gallery_new')" id="new_image" nane="new_image" placeholder="Add new Image">
            </div>

            <div class="grid pb-2 gap-1 col-5" style="align-items: start;">
                <div class="h-100 w-100" app-for="image in new.gallery">
                    <img app-src="image.value" app-click="splice(new.gallery,image)" class="object-fit">
                </div>
            </div>

        </div>

        <div app-show="view.tab == 'prices'">

            <div class="grid pb-2 gap-1 col-4" style="align-items: start;">
                <div class="flex flex-column flex-middle-left">
                    <label>Price</label>
                    <input type="text" app-model="new.price" placeholder="Item Price">
                </div>
                <div class="flex flex-column flex-middle-left">
                    <label>Adjustment</label>
                    <input type="text" app-model="new.adjustment" placeholder="Discount">
                </div>

                <div class="flex flex-column flex-middle-left">
                    <label>Stock</label>
                    <input type="number" app-model="new.stock" placeholder="Stock number">
                </div>

                <div class="flex flex-column flex-middle-left">
                    <label>Items per customer</label>
                    <input type="number" app-model="new.items_per_customer" placeholder="Items per customer">
                </div>
            </div>

        </div>

        <div app-show="view.tab == 'attributes'">
        </div>

        <div app-show="view.tab == 'customisation'">

        </div>

        <div class="text-right">
            <button class="btn highlight capitalise" app-show="new._id" app-click="saveItem('<%- table %>',new)">
                <span>Save <%- view.functions.depluralise(table) %></span>
            </button>
            <button class="btn highlight capitalise" app-hide="new._id" app-click="addItem('<%- table %>',new)">
                <span>Add <%- view.functions.depluralise(table) %></span>
            </button>
        </div>

    </modal-auto>
