<% layout(config.site.dashboard_theme+'/dashboard.ejs') %>

    <%- include(basedir+'/components/dashboard/views/partials/page_header.ejs') %>

    <div class="calendar providers day col-<%- x_axis.length %>">

        <div class="provider-wrap">
            <% x_axis.forEach((provider)=>{ %>
                <div class="column" id="<%- provider._key %>">
                    <div class="provider"><%- provider.name %></div>
                </div>
            <% }) %>
        </div>

        <div class="slots-wrap">

            <% x_axis.forEach((provider)=>{ %>
                <div class="column" id="<%- provider._key %>">


                    <% for (var hrs=7;hrs<=22;hrs++){ %>

                        <% for (var mins=0;mins<=59;mins++){ %>

                            <div class="slot" id="<%- provider._key %>-<%- hrs %>-<%- mins %>"></div>

                        <% } %>

                    <% } %>

                </div>
            <% }) %>

        </div>

    </div>

    <div app-init="getAppointments('<% if (typeof query != 'undefined'){ %><%- query %><% } %>')" class="grid col-3 gap-1">
        <div app-for="appointment in appointments" class="appointment" app-attr="{'id':appointment._key}">
            <span app-bind="parseDate(appointment.start_date,'Do MMMM')"></span>-<span app-bind="parseDate(appointment.end_date,'Do MMMM')"></span>
        </div>
    </div>
