<% layout(config.site.dashboard_theme+'/dashboard.ejs') %>

    <%- include(basedir+'/components/dashboard/views/partials/page_header.ejs') %>

    <div class="vh-100 vw-100 flex-middle absolute" id="calendar-loader">
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <div id="calendar-view" class="calendar providers day col-<%- x_axis.length %>" app-init="getAppointments('<% if (typeof query != 'undefined'){ %><%- query %><% } %>')">

        <div class="provider-wrap">
            <% x_axis.forEach((provider)=>{ %>
                <div class="column provider" id="provider-<%- provider._key %>">
                    <%- provider.name %>
                </div>
            <% }) %>
        </div>

        <div class="slots-wrap">

            <% x_axis.forEach((provider)=>{ %>
                <div class="column" id="<%- provider._key %>">


                    <% for (var hrs=7;hrs<=22;hrs++){ %>

                        <% if (hrs < 10){hrs = '0'+hrs} %>

                        <% for (var mins=0;mins<=59;mins++){ %>

                            <% if (mins < 10){mins = '0'+mins} %>

                            <a class="slot" id="<%- provider._key %>-<%- hrs %>-<%- mins %>" title="<%- provider.name %> at <%- hrs %>:<%- mins %>" href="/dashboard/appointments/new?date=<%- part_iso %>T<%- hrs %>:<%- mins %>:00.000Z&provider=<%- provider._key %>"></a>

                        <% } %>

                    <% } %>

                </div>
            <% }) %>

            <div app-for="appointment in appointments" class="appointment" app-attr="{'id':appointment._key}" app-click="goto('appointments', appointment._key)">
                <div class="subject" app-bind="appointment.subject"></div>
                <div class="time"></div>
                <div class="description" app-bind="appointment.description"></div>
            </div>

        </div>

    </div>
