<% layout(config.site.dashboard_theme+'/fullscreen.ejs') %>

    <% if (typeof page_key != 'undefined' && page_key != 'new'){ %>
        <div class="page bg-light-grey text-left" app-init="getPage('<%- page_key %>')">
    <% } else { %>
        <div class="page bg-light-grey text-left" app-init="setUpNew()">
    <% } %>

        <div class="h-100 editor-wrap">

            <div class="dashboard loaded">

                <div class="menu-wrap">

                    <div class="menu" app-show="view.menu == 'edit'">

                        <div class="header">
                            <div class="burger visible" app-click="view.side_nav = !view.side_nav">
                                <a app-click="showMenu('main')"><span class="icon arrowleft left black"></span></a>
                            </div>
                            <div class="title">
                                <h1><a app-click="showMenu('main')" class=""><span app-bind="view.selected_block.name"></span></a></h1>
                            </div>
                            <div class="preview-link" app-click="renderPage(true)">
                                <span class="icon screen black"></span>
                            </div>
                        </div>

                        <div class="tabs flex-none flex">
                            <a app-click="view.tab = 'content'" app-class="{'active':view.tab == 'content'}" class="flex-none">Section Content</a>
                            <a app-click="view.tab = 'block_styling'" app-class="{'active':view.tab == 'block_styling'}" class="flex-none">Section Styling</a>
                        </div>

                        <div app-show="view.tab == 'content'" class="fields">

                            <%- include('partials/block_fields.ejs') %>

                        </div>

                        <div app-show="view.tab == 'block_styling'" class="fields">

                            <%- include('partials/block_styling.ejs') %>

                        </div>

                    </div>

                    <div class="menu" app-show="view.menu == 'main'">

                        <div class="header">
                            <div class="burger visible" app-click="view.side_nav = !view.side_nav">
                                <a href="/dashboard/pages"><span class="icon arrowleft left black"></span></a>
                            </div>
                            <div class="title">
                                <h1><a href="/dashboard/pages" class="capitalise" app-bind="view.pages.title"></a></h1>
                            </div>
                            <div class="flex-middle">
                                <div class="preview-link" app-click="renderPage(true)">
                                    <span class="icon screen black"></span>
                                </div>
                            </div>
                        </div>

                        <div class="tabs flex-none flex">
                            <a app-click="view.tab = 'blocks'" app-class="{'active':view.tab == 'blocks'}" class="flex-none">Page Sections</a>
                            <a app-click="view.tab = 'details'" app-class="{'active':view.tab == 'details'}" class="flex-none">Pages Options</a>
                            <a app-click="view.tab = 'notification'" app-class="{'active':view.tab == 'notification'}" class="flex-none">Notification</a>
                            <a app-click="view.tab = 'seo'" app-class="{'active':view.tab == 'seo'}" class="flex-none">SEO</a>
                            <a app-click="view.tab = 'options'" app-class="{'active':view.tab == 'options'}" class="flex-none">Options</a>
                        </div>

                        <div app-show="view.tab == 'details'" class="fields">

                            <%- include('partials/page_details.ejs') %>

                        </div>
                        <div app-show="view.tab == 'notification'" class="fields">

                            <%- include('partials/notification.ejs') %>

                        </div>
                        <div app-show="view.tab == 'seo'" class="fields">

                            <%- include('partials/seo.ejs') %>

                        </div>

                        <div app-show="view.tab == 'options'" class="fields">

                            <%- include('partials/page_options.ejs') %>

                        </div>


                        <div app-show="view.tab == 'blocks'" class="blocks">

                            <%- include('partials/block_list.ejs') %>

                        </div>

                    </div>

                    <div class="w-100 bg-light-grey text-white flex-none py-1 px-15 flex col-12 mb-s-8">
                        <div class="flex-1">
                            <button app-show="view.selected_block" class="btn bg-white" app-click="removeBlock(true)">Remove Block</button>
                            <button app-hide="view.selected_block" class="btn bg-white" app-click="deletePage(true)">Delete Page</button>
                        </div>
                        <div class="flex-none text-right">
                            <button class="btn bg-secondary" app-click="savePage()">Save</button>
                        </div>
                    </div>


                </div>

            </div>

            <div class="preview-wrap vh-100 overflow-y relative" app-class="{'secondary-theme':view.pages.secondary_theme === true}">

                <div id="preview" class="layer-2">
                    <div class="loader">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>

                <div class="absolute flex-middle" id="insert-new-section">
                    <div class="icon" app-click="addNewSection()">
                        <span class="icon plus white" app-click="addNewSection()"></span>
                    </div>
                </div>

            </div>

    </div>

</div>

<div class="dashboard loaded">

    <a href="/component-pages/render/preview" id="preview-link" target="preview" class="hidden"></a>

    <%- include('partials/modals/show_icons.ejs') %>

    <%- include('partials/modals/show_sections.ejs') %>

    <%- include('partials/modals/del_confirm.ejs') %>

    <%- include('partials/modals/del_block_confirm.ejs') %>

    <%- include('partials/modals/insert_form.ejs') %>

    <%- include('partials/modals/set_up.ejs') %>

    <%- include(basedir+'/themes/default/partials/modals/media_library.ejs',{table:'pages'}); %>

</div>
