<% layout('default/fullscreen.ejs') -%>

    <% if (typeof content_key != 'undefined' && content_key != 'new'){ %>
        <div class="page-full vh-100 bg-light-grey text-left" app-init="getContent('<%- content_key %>')">
    <% } else { %>
        <div class="page-full vh-100 bg-light-grey text-left">
    <% } %>

        <div class="h-100 grid col-3 gap-1">

            <div class="h-100 bg-33-white py-2 overflow-y">

                <div class="px-2 pb-2">
                    <a app-click="goto('content','<%- content_type %>')"><i class="fas fa-chevron-left mr-05"></i>All <%- view.functions.depluralise(content_type) %> Content</a>
                </div>

                <div class="sortable bg-light-grey py-1 pl-1">
                    <div class="list-item mb-0 bg-33-white clickable" app-click="showSettings()">
                        <div class="icon">
                            <i class="fas fa-cog"></i>
                        </div>
                        <div class="flex-2">
                            <div class="">Page Settings</div>
                        </div>
                        <div class="flex flex-middle-right">

                        </div>
                    </div>

                </div>

                <div class="sortable bg-light-grey pl-1">
                    <div class="">

                    </div>
                    <div class="list-item bg-33-white" app-for="block in view.content.blocks" app-click="loadBlock(block,{{index}})">
                        <div class="icon drag-me">
                        </div>
                        <div class="flex-2">
                            <div class="" app-bind="block.name"></div>
                        </div>
                        <div class="flex flex-middle-right">

                        </div>
                    </div>
                </div>
                <div class="bg-light-grey pb-1 pt-05 pl-1">
                    <div class="list-item bg-33-white text-primary" app-click="addNewSection()">
                        <div class="icon">
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="flex-2">
                            <div class="">Add New Section</div>
                        </div>
                        <div class="flex flex-middle-right">

                        </div>
                    </div>
                </div>

                <div class="px-2 mt-2">
                    <div app-show="view.selected_block" class="mb-3">
                        <button class="btn bg-33-red w-100 mb-1" app-click="removeBlock(true)">Remove Block</button>
                    </div>
                    <button class="btn bg-33-green w-100 mb-05" app-click="saveLocal()">Save Draft</button>
                    <button class="btn bg-33-red w-100 mb-05" app-click="clearLocal()">Clear Local Draft</button>
                    <button class="btn highlight w-100 mb-05" app-click="saveContent()">Save&nbsp;<span class="capitalise"><%- view.functions.depluralise(content_type) %></span></button>

                </div>

            </div>

            <div class="colspan-2 py-2 pl-1 pr-2 vh-100 overflow-y">

                <div app-hide="view.blocks">
                    <div class="grid col-2">
                        <h4 class="mb-1">Content Meta</h4>
                        <div class="text-right">

                        </div>
                    </div>

                    <div class="my-1">
                        <label class="indent">Content Title</label>
                        <input type="text" app-model="view.content.title">
                    </div>

                    <div class="my-1">
                        <label class="indent">Content URL</label>
                        <input type="text" app-model="view.content.slug">
                    </div>

                    <div class="my-1">
                        <label class="indent">Published</label>
                        <select app-model="view.content.status">
                            <option value="draft">Draft</option>
                            <option value="published">Published</option>
                        </select>
                    </div>

                    <div>
                        <div class="float-right text-small pr-1" app-bind="view.content.notification.length"></div>
                        <label class="indent capitalise">Add a notification to this page (400 chars. max)</label>
                        <%- include(view.basedir+'/themes/'+config.site.theme+'/partials/editor_buttons.ejs',{editor_button_type:"simple"}) %>
                        <div id="content_notification" class="large resize contenteditable" app-model="view.content.notification" contenteditable="true"></div>
                        <div class="text-right text-small mt-05">
                            <a app-click="removeNotification()"><i class="fas fa-times"></i> Remove Notification</a>
                        </div>
                    </div>

                    <h4 class="mb-1 mt-2">SEO</h4>

                    <div class="my-1">
                        <label class="indent">Title</label>
                        <input type="text" app-model="view.content.meta.title">
                    </div>

                    <div class="my-1">
                        <div class="float-right text-small pr-1" app-bind="view.content.meta.description.length"></div>
                        <label class="indent">Descripton (160 chars. max)</label>
                        <textarea app-model="view.content.meta.description"></textarea>
                    </div>

                </div>

                <div app-show="view.blocks">

                    <h4 class="mb-2">Block Content</h4>
                    <div>
                        <div class="mb-1" app-for="field in view.editor">

                            <div app-show="field.input == 'text'">
                                <label class="indent capitalise" app-bind="field.field"></label>
                                <input type="text" app-model="field.value">
                            </div>

                            <div app-show="field.input == 'textarea'">
                                <label class="indent capitalise" app-bind="field.field"></label>
                                <%- include(view.basedir+'/themes/'+config.site.theme+'/partials/editor_buttons.ejs') %>
                                <div class="large resize contenteditable" app-model="field.value" contenteditable="true"></div>
                            </div>

                            <div app-show="field.input == 'code'">
                                <label class="indent capitalise" app-bind="field.field"></label>
                                <pre><code class="html contenteditable" contenteditable="true" app-model="field.value"></code></pre>
                            </div>

                            <div app-show="field.input == 'image'">
                                <label class="indent capitalise" app-bind="field.field"></label>
                            </div>

                            <div app-show="field.input == 'none'">
                                <label class="indent capitalise" app-bind="field.field"></label>
                            </div>

                            <input app-show="field.styling == 'true'" class="mt-05 transparent-3" type="text" app-model="field.classes" placeholder="Add element classes...">

                        </div>
                    </div>

                    <h4 class="my-2">Block Styling</h4>
                    <div class="mb-2">
                        <label class="indent capitalise">Block Name</label>
                        <input type="text" app-model="view.selected_block.name">
                    </div>

                    <div class="grid col-2 gap-2 mb-1">
                        <div>
                            <label class="indent capitalise">Background Color</label>
                            <input type="text" app-model="view.selected_block.styling.background.color">
                        </div>
                        <div class="rowspan-5">
                            <label class="indent capitalise">Background Image</label><br>
                            <label for="block_bg_image" class="clickable"><img src="/images/Product_Placeholder.svg" app-src="view.selected_block.styling.background.image"></label>
                            <input id="block_bg_image" type="file" app-model="view.selected_block.styling.background.image" app-change="uploadImg(view.selected_block.styling.background.image,'view.selected_block.styling.background.image','content',view.selected_block.name)">
                            <div class="grid col-2">
                                <div></div>
                                <div class="text-right">
                                    <a class="text-small" app-click="delImg(view.selected_block.styling.background.image,'view.selected_block.styling.background.image')" app-show="view.selected_block.styling.background.image"><i class="fas fa-times"></i> Remove Image</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="indent capitalise">Section Class</label>
                            <input type="text" app-model="view.selected_block.styling.background.class">
                        </div>
                        <div>
                            <label class="indent capitalise">Text Color</label>
                            <input type="text" app-model="view.selected_block.styling.text.color">
                        </div>
                    </div>



                </div>


            </div>



        </div>

    </div>

</div>


    <div class="modal" app-show="view.modal == 'show_sections'" anim="{'enter':'fade-in'}">

        <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}">

            <div class="grid col-2 pb-1">
                <div>
                    <h4 class="text-light capitalise">
                        Add a new section
                    </h4>
                </div>
            </div>
            <div class="grid col-5 gap-1">
                <% for (var i in blocks){ %>
                    <div app-click="selectBlock('<%- blocks[i].block %>')" class="bg-33-white clickable rounded p-2 flex flex-middle"><%- blocks[i].name %></div>
                <% } %>
            </div>
        </div>

    </div>

    <div class="modal" app-show="view.modal == 'show_del_block_confirm'" anim="{'enter':'fade-in'}">

        <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}">

            <div class="grid col-2 pb-1">
                <div>
                    <h4 class="text-light capitalise">
                        Delete this block?
                    </h4>
                </div>
            </div>
            <div class="grid col-2 gap-2">
                <button class="btn outline w-100" onclick="modalCloseAll()">Cancel</button>
                <button class="btn highlight w-100" app-click="removeBlock()">Delete</button>
            </div>
        </div>

    </div>

    <div class="modal" app-show="view.modal == 'show_input'" anim="{'enter':'fade-in'}">

        <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}">

            <div class="grid col-2 pb-1 gap-2" style="width:50vw">
                <div class="pb-1">
                    <h4 class="text-light capitalise" app-bind="view.exec.title">

                    </h4>
                </div>
                <div></div>
                <div app-show="view.exec.image">
                    <label>Upload Image</label>
                    <label for="image_1" class="clickable"><img src="/images/Profile_Placeholder.svg" app-src="view.image_url" class="w-100"></label>
                    <input id="image_1" type="file" app-model="view.image_url">
                </div>
                <div app-show="view.exec.input">
                    <label app-bind="view.exec.input"></label>
                    <input type="text" app-model="view.text_input">
                </div>
                <div app-show="view.exec.input_2">
                    <label app-bind="view.exec.input_2"></label>
                    <input type="text" app-model="view.text_input_2">
                </div>
            </div>

            <div class="grid col-2 pb-1">
                <div></div>
                <div class="text-right">
                    <button class="btn highlight" app-click="exec('exec')">Submit</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal" app-show="view.modal == 'show_form_builder'" anim="{'enter':'fade-in'}">

        <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}">

            <div class="grid col-2 pb-1 gap-2" style="width:50vw">
                <div class="pb-1">
                    <h4 class="text-light capitalise">
                        Insert Form
                    </h4>
                </div>
                <div></div>
            </div>

            <div class="grid col-3 gap-2 mb-2">
                <div>
                    <label>Form Name</label>
                    <input type="text" app-model="view.form.details.name">
                </div>
                <div>
                    <label>Post Route</label>
                    <input type="text" app-model="view.form.details.url">
                </div>
                <div>
                    <label>Button Text</label>
                    <input type="text" app-model="view.form.details.button_text">
                </div>
            </div>

            <div>
                <div class="grid col-3 pb-1 gap-2" app-for="input in view.form.inputs">

                    <div>
                        <label>Input Label</label>
                        <input type="text" app-model="input.label">
                    </div>
                    <div>
                        <label>Input Type</label>
                        <select app-model="input.type">
                            <option>Text</option>
                            <option>Textarea</option>
                            <option>Email</option>
                            <option>Tel</option>
                            <option>Select</option>
                            <option>Checkbox</option>
                        </select>
                    </div>
                    <div>

                        <label>Options</label><br>
                        <label><input type="checkbox" app-model="input.required"> Required</label>

                    </div>
                </div>
            </div>
            <div class="grid col-2 pb-1">
                <div></div>
                <div class="text-right">
                    <button class="btn highlight" app-click="addInput()"><i class="fas fa-plus mr-05"></i> Add Input</button>
                </div>
            </div>

            <div class="grid col-2 pb-1">
                <div></div>
                <div class="text-right">
                    <button class="btn highlight" app-click="insertForm()">Insert Form</button>
                </div>
            </div>
        </div>

    </div>
