<% layout('default/fullscreen.ejs') -%>

    <% if (typeof content_key != 'undefined' && content_key != 'new'){ %>
        <div class="page-full vh-100 bg-light-grey text-left" app-init="getContent('<%- content_key %>')">
    <% } else { %>
        <div class="page-full vh-100 bg-light-grey text-left">
    <% } %>

        <div class="h-100 grid col-6 gap-1">

            <div class="h-100 bg-33-white py-2">

                <div class="px-2">
                    <h4 class="mb-1">Page Layout</h4>
                </div>

                <div class="sortable bg-light-grey py-1 pl-1">
                    <div class="list-item mb-0 bg-33-white clickable" app-click="showSettings()">
                        <div class="icon">
                            <i class="fas fa-cog"></i>
                        </div>
                        <div class="flex-2">
                            <div class="">Page Settings</div>
                        </div>
                        <div class="flex flex-middle-right">

                        </div>
                    </div>

                </div>

                <div class="sortable bg-light-grey pl-1">
                    <div class="">

                    </div>
                    <div class="list-item bg-33-white" app-for="block in view.content.blocks" app-click="loadBlock(block,{{index}})">
                        <div class="icon drag-me">
                        </div>
                        <div class="flex-2">
                            <div class="" app-bind="block.name"></div>
                        </div>
                        <div class="flex flex-middle-right">

                        </div>
                    </div>
                </div>
                <div class="bg-light-grey pb-1 pt-05 pl-1">
                    <div class="list-item bg-33-white text-primary" app-click="addNewSection()">
                        <div class="icon">
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="flex-2">
                            <div class="">Add New Section</div>
                        </div>
                        <div class="flex flex-middle-right">

                        </div>
                    </div>
                </div>

                <div class="px-2 mt-2">
                    <button class="btn highlight w-100 mb-05" app-click="saveContent()">Save&nbsp;<span class="capitalise"><%- view.functions.depluralise(content_type) %></span></button>
                    <button class="btn w-100" app-click="goto('content','<%- content_type %>')"><i class="fas fa-chevron-left mr-1"></i>Back</button>
                </div>

            </div>

            <div class="colspan-2 py-2 pl-1 pr-2 vh-100 overflow-y">

                <div app-hide="view.blocks">
                    <div class="grid col-2">
                        <h4 class="mb-1">Content Meta</h4>
                        <div class="text-right">

                        </div>
                    </div>

                    <div class="my-1">
                        <label class="indent">Content Title</label>
                        <input type="text" app-model="view.content.title">
                    </div>

                    <div class="my-1">
                        <label class="indent">Content URL</label>
                        <input type="text" app-model="view.content.slug">
                    </div>

                    <div class="my-1">
                        <label class="indent">Published</label>
                        <select app-model="view.content.status">
                            <option value="draft">Draft</option>
                            <option value="published">Published</option>
                        </select>
                    </div>

                    <h4 class="mb-1 mt-2">SEO</h4>

                    <div class="my-1">
                        <label class="indent">Title</label>
                        <input type="text" app-model="view.content.meta.title">
                    </div>

                    <div class="my-1">
                        <div class="float-right text-small pr-1" app-bind="view.content.meta.description.length"></div>
                        <label class="indent">Descripton (160 chars. max)</label>
                        <textarea app-model="view.content.meta.description"></textarea>
                    </div>

                </div>

                <div app-show="view.blocks">

                    <h4 class="mb-2">Content</h4>
                    <div>
                        <div class="mb-1" app-for="field in view.editor">

                            <div app-show="field.input=='text'">
                                <label class="indent capitalise" app-bind="field.field"></label>
                                <input type="text" app-model="field.value">
                            </div>

                            <div app-show="field.input == 'textarea'">
                                <label class="indent capitalise" app-bind="field.field"></label>
                                <div class="large resize contenteditable" app-model="field.value"></div>
                            </div>

                            <div app-show="field.input == 'image'">
                                <label class="indent capitalise" app-bind="field.field"></label>

                            </div>

                            <input app-show="field.styling == 'true'" class="mt-05 transparent-3" type="text" app-model="field.classes" placeholder="Add element classes...">

                        </div>
                    </div>

                    <h4 class="my-2">Section</h4>
                    <div class="mb-2">
                        <label class="indent capitalise">Section Name</label>
                        <input type="text" app-model="view.selected_block.name">
                    </div>

                    <div class="grid col-2 gap-2 mb-1">
                        <div>
                            <label class="indent capitalise">Background Color</label>
                            <input type="text" app-model="view.selected_block.styling.background.color">
                        </div>
                        <div>
                            <label class="indent capitalise">Background Image</label>
                            <input type="text" app-model="view.selected_block.styling.background.image">
                        </div>
                        <div>
                            <label class="indent capitalise">Section Class</label>
                            <input type="text" app-model="view.selected_block.styling.background.class">
                        </div>
                        <div>
                            <label class="indent capitalise">Text Color</label>
                            <input type="text" app-model="view.selected_block.styling.text.color">
                        </div>
                    </div>

                    <div class="text-right" app-show="view.selected_block">
                        <button class="btn bg-33-red" app-click="removeBlock()">Remove Block</button>
                        <button class="btn highlight" app-click="saveLocal()"><span>Save Section</span></button>
                    </div>

                </div>


            </div>

            <div class="colspan-3 vh-100 overflow-y">



            </div>

        </div>

    </div>

</div>


    <div class="modal" app-show="view.modal == 'show_sections'" anim="{'enter':'fade-in'}">

        <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}">

            <div class="grid col-2 pb-1">
                <div>
                    <h4 class="text-light capitalise">
                        Add a new section
                    </h4>
                </div>
            </div>
                <div class="grid col-5 gap-1">
                    <% for (var i in blocks){ %>
                        <div app-click="selectBlock('<%- blocks[i].block %>')" class="bg-33-white clickable rounded p-2 flex flex-middle"><%- blocks[i].name %></div>
                    <% } %>
                </div>
            </div>

        </div>

    </div>
