<div class="modal" app-show="view.modal == 'show_edit'" anim="{'enter':'fade-in'}">

    <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}">

        <div class="grid col-2 pb-1">
            <div>
                <h4 class="text-light capitalise">
                    <span app-show="new._id">Edit <%- view.functions.parseName(table, true) %></span>
                    <span app-hide="new._id">Add New <%- view.functions.parseName(table, true) %></span>
                </h3>
            </div>
            <div class="text-right">
                <h4 class="text-light clickable" onclick="modalCloseAll()">&times;</h4>
            </div>
        </div>

        <div class="grid pb-2 gap-1 col-2" style="align-items: start;">

            <%- include(config.site.theme_path+'/partials/input_fields/parse_fields.ejs') %>

        </div>

        <div class="text-right">
            <button class="btn highlight capitalise" app-show="new._id" app-click="saveItem('<%- table %>',new)">
                <span>Save <%- view.functions.parseName(table,true) %></span>
            </button>
            <button class="btn highlight capitalise" app-hide="new._id" app-click="addItem('<%- table %>',new)">
                <span>Add <%- view.functions.parseName(table,true) %></span>
            </button>
        </div>

    </div>

</div>
