<% var obj = view.functions.depluralise(item.name.toLowerCase()) %>

<%

    var new_prefix = 'new.'

    if (typeof obj_prefix != 'undefined' && obj_prefix != false){
        obj = obj_prefix+'.'+obj
    }

    if (typeof array_obj != 'undefined'){
        if (array_obj === true){
            new_prefix = ''
        } else if (typeof array_obj == 'string'){
            new_prefix = 'new.'+array_obj+'.'
        }
    }
%>

<div class="input-array field-<%- item.name %> <%- obj %> in <%- new_prefix %><%- item.name %>">
    <label><%- view.functions.parseName(item.name) %></label>
    <div class="input-array-wrap">
        <div class="input-array-item" app-for="item in <%- new_prefix %><%- item.name %>">
            <button class="" app-click="splice(item, $parent)"><span class="icon x primary"></span></button>
            <input type="text" app-model="item.value" placeholder="<%- item.placeholder %>">
        </div>
    </div>
    <div class="input-array-new">

        <% if (Array.isArray(item.options)){ %>
            <select app-model="new.<%- item.name %>_new">

                <% if (item.option_data && Array.isArray(item.options)){ %>
                    <% item.options.forEach((option)=>{ %>
                        <option class="capitalise" value="<%- option._key %>"><%- option.name %></option>
                    <% }) %>
                <% } %>

            </select>
            <button class="btn bg-primary" app-click="push(<%- new_prefix %><%- item.name %>_new,<%- new_prefix %><%- item.name %>)">Add <span class="icon plus right white"></span></button>
        <% } else { %>
            <input type="text" app-model="new.<%- item.name %>_new" placeholder="Add new <%- view.functions.depluralise(item.name) %>">
            <button class="btn bg-primary" app-click="push(<%- new_prefix %><%- item.name %>_new,<%- new_prefix %><%- item.name %>)">Add <span class="icon plus right white"></span></button>
        <% } %>
    </div>
</div>
