<%
    var new_prefix = 'new.'
    var input_type

    if (typeof obj_prefix == 'undefined' || obj_prefix == false){
        obj_prefix = ''
    } else {
        obj_prefix = obj_prefix+'.'
    }

    if (typeof array_obj != 'undefined'){
        if (array_obj === true){
            new_prefix = ''
        } else if (array_obj == 'new_array'){
            new_prefix = 'new.new_array.'
            obj_prefix = ''
        } else if (typeof array_obj == 'string'){
            new_prefix = ''
        }
    }

    if (item.input_type == 'sku'){
        input_type = 'text'
    } else {
        input_type = item.input_type
    }

%>


<div class="input-<%- item.input_type %> field-<%- obj_prefix %><%- item.name %>">
    <%- max_characters %>

    <% if (item.input_type == 'checkbox' && item.placeholder){ %>
        <label><%- view.functions.parseName(item.placeholder) %></label>
    <% } else { %>
        <label><%- view.functions.parseName(item.name) %><%- max_chars_text %></label>
    <% } %>

    <% if (item.input_type == 'disabled'){ %>

        <% if (item.type == 'price'){ %>
            <div app-bind="parseCurrency(<%- new_prefix %><%- obj_prefix %><%- item.name %>)"></div>
        <% } else if (item.type == 'date'){ %>
            <div app-bind="parseDate(<%- new_prefix %><%- obj_prefix %><%- item.name %>,'DD/MM/YY h:mma')"></div>
        <% } else { %>
            <div app-bind="<%- new_prefix %><%- obj_prefix %><%- item.name %>"></div>
        <% } %>

    <% } else { %>
        <div <% if (item.type == 'price'){ %>app-init="fromPrice100('<%- new_prefix %><%- obj_prefix %><%- item.name %>')"<% } %>><input type="<%- input_type %>" app-model="<%- new_prefix %><%- obj_prefix %><%- item.name %>" placeholder="<%- item.placeholder %>"></div>
    <% } %>

    <% if (item.input_type == 'sku'){ %>
        <a app-click="generateSKU()" class="text-small" app-hide="new.sku">Auto</a>
    <% } %>

</div>
