<div class="">
    <%- max_characters %>
    <label><%- view.functions.parseName(item.name) %><%- max_chars_text %></label>
    <input type="<%- item.input_type %>" app-model="new.<%- item.name %>" placeholder="<%- item.placeholder %>">
</div>
