<div class="rowspan-7 flex flex-column flex-middle-left">
    <label><%- view.functions.parseName(item.name) %></label>
    <label for="image_<%- item.name %>" class="clickable"><img src="/images/Profile_Placeholder.svg" app-hide="new.<%- item.name %>"><img app-show="new.<%- item.name %>" app-src="new.<%- item.name %>" class="<%- item.name %>"></label>
    <input id="image_<%- item.name %>" type="file" app-model="new.<%- item.name %>">
</div>
