<%
    if (typeof obj_prefix == 'undefined' || obj_prefix == false){
        obj_prefix = ''
        obj_prefix_snake = ''
    } else {
        obj_prefix_snake = obj_prefix+'_'
        obj_prefix = obj_prefix+'.'
    }
%>
<div class="input-image field-<%- obj_prefix %><%- item.name %>">
    <label><%- view.functions.parseName(item.name) %></label>
    <label for="image_<%- obj_prefix_snake %><%- item.name %>" class="clickable">
        <img src="/images/Profile_Placeholder.svg" app-hide="new.<%- obj_prefix %><%- item.name %>" class="avatar">
        <img app-show="new.<%- obj_prefix %><%- item.name %>" app-src="new.<%- obj_prefix %><%- item.name %>" class="<%- item.name %>">
    </label>
    <input id="image_<%- obj_prefix_snake %><%- item.name %>" type="file" app-model="new.<%- obj_prefix %><%- item.name %>">
</div>
