<% var obj = view.functions.depluralise(item.name.toLowerCase()); var colspan = 2; %>

<div class="input-object-array field-<%- item.name %>">
    <!-- <div class="array-item-title"><%- view.functions.parseName(item.name) %></div> -->
    <div class="mb-2 input-object-array-wrap sortable" app-sort="new.<%- item.name %>">


        <div class="array-item" app-for="<%- obj %> in new.<%- item.name %>">

            <div class="array-item-remove">
                <span class="icon sectiongrab grey sortable-handle"></span>
                <a app-click="splice(<%- obj %>, $parent)">Remove<span class="icon x right primary"></span></a>
            </div>

            <% item.subitems.forEach((subitem,i)=>{ %>

                <div class="array-item-input">

                    <%- include(view.basedir+'/themes/default/partials/input_fields/include_fields.ejs', {item:subitem, max_characters:max_characters, obj_prefix: obj, array_obj: item.name}) %>

                </div>

            <% }) %>

        </div>


    </div>

    <div class="input-object-array-new sortable-disabled">

        <div class="array-item">

            <div class="array-item-new-title">Add New <% if (item.label){ %><%- view.functions.parseName(item.label,true) %><% } else { %><%- view.functions.parseName(obj,true) %><% } %></div>
            <% item.subitems.forEach((subitem,i)=>{ %>

                <div class="array-item-input">

                    <%- include(view.basedir+'/themes/default/partials/input_fields/include_fields.ejs', {item:subitem, max_characters:max_characters, array_obj:'new_array'}) %>

                </div>

            <% }) %>

            <div class="array-item-button">
                <button class="btn bg-primary" app-click="push(new.new_array,new.<%- item.name %>)">Add <span class="icon plus white right"></span></button>
            </div>

        </div>

    </div>

</div>
