<div class="flex flex-column flex-middle-left">
    <label><%- view.functions.parseName(item.name) %></label>
    <select app-model="new.<%- item.name %>">
        <% if (Array.isArray(item.options)){ %>
            <% item.options.forEach((option)=>{ %>
                <option value="<%- option.value %>"><%- option.text %></option>
            <% }) %>
        <% } %>
        <% if (item.option_data){ %>
            <% var option_data = [] //view.functions.getOptionData(item.option_data) %>
            <% if (Array.isArray(option_data)){ %>
                <% option_data.forEach((option)=>{ %>
                    <option value="<%- option._key %>"><%- option.name %></option>
                <% }) %>
            <% } %>
        <% } %>
    </select>
</div>
