<%
    var new_prefix = 'new.'

    if (typeof obj_prefix == 'undefined' || obj_prefix == false){
        obj_prefix = ''
    } else {
        obj_prefix = obj_prefix+'.'
    }

    if (typeof array_obj != 'undefined'){
        if (array_obj === true){
            new_prefix = ''
        } else if (typeof array_obj == 'string'){
            new_prefix = 'new.'+array_obj+'.'
        }
    }
%>

<div class="input-select field-<%- item.name %>">
    <label><%- view.functions.parseName(item.name) %></label>
    <select app-model="<%- new_prefix %><%- obj_prefix %><%- item.name %>">

        <% if (item.option_data && Array.isArray(item.options)){ %>
            <% item.options.forEach((option)=>{ %>
                <option class="capitalise" value="<%- option._key %>"><%- option.name %></option>
            <% }) %>
        <% } %>

        <% if (!item.option_data && Array.isArray(item.options)){ %>
            <% item.options.forEach((option)=>{ %>
                <option class="capitalise" value="<%- option.value %>"><%- option.text %></option>
            <% }) %>
        <% } %>

        <% if (item.option_for){ %>
            <option value="" selected>None</option>
            <option app-for="<%- item.option_for %>" app-attr="{'value':<%- item.name %>._key}" app-bind="<%- item.name %>.value"></option>
        <% } %>
    </select>
</div>
