<%
    if (typeof obj_prefix == 'undefined' || obj_prefix == false){
        obj_prefix = ''
    } else {
        obj_prefix = obj_prefix+'.'
    }
%>

<div class="flex flex-column flex-middle-left">
    <label><%- view.functions.parseName(item.name) %></label>
    <select app-model="new.<%- obj_prefix %><%- item.name %>">
        <% if (Array.isArray(item.options)){ %>
            <% item.options.forEach((option)=>{ %>
                <option class="capitalise" value="<%- option.value %>"><%- option.text %></option>
            <% }) %>
        <% } %>
        <% if (item.option_data){ %>

            <% if (Array.isArray(option_data)){ %>
                <% option_data.forEach((option)=>{ %>
                    <option class="capitalise" value="<%- option._key %>"><%- option.name %></option>
                <% }) %>
            <% } %>
        <% } %>
    </select>
</div>
