<%
    if (typeof obj_prefix == 'undefined' || obj_prefix == false){
        obj_prefix = ''
    } else {
        obj_prefix = obj_prefix+'.'
    }
%>

<div class="input-textarea field-<%- item.name %>">

    <label><%- max_characters %><%- view.functions.parseName(item.name) %><%- max_chars_text %></label>
    <div><textarea app-model="new.<%- obj_prefix %><%- item.name %>" placeholder="<%- item.placeholder %>"></textarea></div>
</div>
