<div class="colspan-2 rowspan-2">
    <%- max_characters %>
    <label><%- view.functions.parseName(item.name) %><%- max_chars_text %></label>
    <textarea app-model="new.<%- item.name %>" placeholder="<%- item.placeholder %>"></textarea>
</div>
