<div class="grid-wrap" app-init="get('<%- table %><% if (typeof query != 'undefined'){ %><%- query %><% } %>')">

    <div class="grid">

        <div class="grid-item" app-for="<%- view.functions.depluralise(table) %> in <%- table %>">
            <% if (typeof model == 'object' && model.thumbnail){ %><img app-src="<%- view.functions.depluralise(table) %>.thumbnail" src="/images/Product_Placeholder.svg" class="grid-thumbnail"><% } %>

            <div class="details">
                <% fields.forEach((item)=>{ %>

                    <% if (item.name == 'name' || item.name == 'title' || item.name == 'full_name' || item.name == 'description'){ %>
                        <div class="<%- item.name %> <%- item.input_type %>">
                            <a app-click="goto('<%- table %>',<%- view.functions.depluralise(table) %>._key)" app-bind="<%- view.functions.depluralise(table) %>.<%- item.name %>"></a>
                        </div>
                    <% } %>


                <% }) %>
                <div class="text-right context-link" app-attr="{'id':'cell-'+<%- view.functions.depluralise(table) %>._key}">

                    <div class="context-menu context-link" app-click="toggleContext('context',$index)">
                        <span class="icon threedots grey"></span>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
