

<% if (typeof title == 'undefined'){ var title = ''} %>
<% if (typeof view.current_sub_view == 'undefined'){ view.current_sub_view = ''} %>

<div class="header" app-class="{'search-expand':view.show_search == true}">
    <div class="burger" app-click="view.side_nav = !view.side_nav">
        <i class="fas fa-bars"></i>
    </div>
    <div class="title">
        <h1><%- title %></h1>
    </div>
    <div class="buttons">
        <% if (typeof action_buttons != 'undefined'){ %>
            <% action_buttons.forEach(button => { %>
                <a <% if (button.href){ %> href="<%- button.href %>"<% } %> <% if (button.click){ %> app-click="<%- button.click %>"<% } %> class="btn"><span class="text"><%- button.text %></span><span class="icon <%- button.icon %> white"></span></a>
            <% }) %>
        <% } %>
        <% if (typeof table != 'undefined' && table != 'transactions'){ %>
            <a class="btn" href="/dashboard/<%- table %>/new"><span class="text">Add&nbsp;<%- view.functions.parseName(table,true) %></span><span class="icon plus white"></span></a>
        <% } %>

    </div>
    <% if (typeof search_fields == 'object'){ %>
        <div class="search">
            <div class="search-wrap">
                <input type="text" app-change="search('<%- table %>')" placeholder="Search">
                <span app-click="view.show_search = !view.show_search" class="icon search black"></span>
            </div>
        </div>
    <% } %>
</div>

<div class="actions">

    <div class="tabs">
        <% if (typeof tabs != 'undefined'){ %>
            <% tabs.forEach(tab => { %>
                <a href="<%- tab.href %>" class="<% if (view.current_sub_view.toLowerCase() == tab.text.toLowerCase()){ %>active<% } %>"><%- tab.text %><% if (tab.counter){ %> (<span app-bind="view.status_count_obj.<%- tab.counter %>"></span>)<% } %></a>
            <% }) %>
        <% } %>
    </div>

</div>
