<div class="table-wrap rounded">
    <div class="table" app-init="get('<%- table %><% if (typeof query != 'undefined'){ %><%- query %><% } %>')">
        <div class="row table-header">
            <div class="cell middle text-left select-all"><input type="checkbox" app-model="view.all_selected" app-click="selectAll()" class="border"></div>
            <% fields.forEach((item)=>{ %>
                <% if (item.table_hide == true || item.type == 'password' || item.type == 'hidden'){ %>

                <% } else { %>
                    <div class="cell middle <%- item.type.toLowerCase() %> <%- item.name %> <%- item.input_type %>"><%- view.functions.parseName(item.name) %></div>
                <% } %>
            <% }) %>
            <div class="cell middle action"></div>
        </div>
    </div>
    <div class="table-inner-wrap">
        <div class="table">

            <div class="row" app-for="<%- view.functions.depluralise(table) %> in <%- table %>">

                <div class="cell middle text-left select-all"><input type="checkbox" class="border"></div>

                <% fields.forEach((item)=>{ %>

                    <% if (item.table_hide == true || item.type == 'password' || item.type == 'hidden'){ %>

                    <% } else if (item.input_type == 'image'){ %>

                        <div class="cell middle <%- item.name %> <%- item.input_type %>"><img src="/images/Product_Placeholder.svg?v=1.2" app-src="<%- view.functions.depluralise(table) %>.<%- item.name %>" class="<%- item.name %>"></div>

                    <% } else if (item.input_type == 'text' && item.type.match(/barcode|qrcode/)){ %>

                        <div class="cell middle <%- item.name %> <%- item.input_type %>"><img app-src="<%- view.functions.depluralise(table) %>.<%- item.name %>" class="<%- item.name %>"></div>

                    <% } else if (item.type == 'price'){ %>

                        <div class="cell middle <%- item.name %> <%- item.input_type %>" app-bind="parseCurrency(<%- view.functions.depluralise(table) %>.<%- item.name %>)"></div>

                    <% } else if (item.type == 'discount'){ %>

                        <div class="cell middle <%- item.name %> <%- item.input_type %>" app-bind="parseAdjustment(<%- view.functions.depluralise(table) %>.<%- item.name %>)"></div>

                    <% } else if (item.input_type == 'object' || item.input_type == 'array'){ %>

                        <div class="cell middle <%- item.name %> <%- item.input_type %>" app-bind="<%- view.functions.depluralise(table) %>.<%- item.name %>.length"></div>

                    <% } else if (item.input_type == 'date'){ %>

                        <div class="cell middle <%- item.name %> <%- item.input_type %>" app-bind="parseDate(<%- view.functions.depluralise(table) %>.<%- item.name %>,'ddd Do MMM YYYY')"></div>

                    <% } else if (item.type == 'boolean'){ %>

                        <div class="cell middle <%- item.name %> <%- item.input_type %>">
                            <span app-show="<%- view.functions.depluralise(table) %>.<%- item.name %>" class="text-primary font-weight-500">Yes</span>
                            <span app-hide="<%- view.functions.depluralise(table) %>.<%- item.name %>" class="text-dark-grey font-weight-500 transparent">No</span>
                        </div>

                    <% } else if (item.input_type && !item.input_type.match(/image/)){ %>

                        <% if (item.name == 'name' || item.name == 'title' || item.name == 'full_name'){ %>
                            <div class="cell middle <%- item.name %> <%- item.input_type %>">
                                <a app-click="goto('<%- table %>',<%- view.functions.depluralise(table) %>._key)" app-bind="<%- view.functions.depluralise(table) %>.<%- item.name %>"></a>
                            </div>
                        <% } else { %>
                            <div class="cell middle <%- item.name %> <%- item.input_type %>" app-bind="<%- view.functions.depluralise(table) %>.<%- item.name %>"></div>
                        <% } %>

                    <% } %>
                <% }) %>
                <div class="cell middle text-right context-link" app-attr="{'id':'cell-'+<%- view.functions.depluralise(table) %>._key}">

                    <div class="context-menu context-link btn" app-click="toggleContext('context',$index)">
                        <i class="fas fa-chevron-down context-link"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
