<div class="table" app-init="get('<%- table %>')">
    <div class="row table-header">
        <% fields.forEach((item)=>{ %>
            <div class="cell middle <%- item.type.toLowerCase() %> <%- item.name %> <%- item.input_type %>"><%- view.functions.parseName(item.name) %></div>
        <% }) %>
        <div class="cell middle action"></div>
    </div>

    <div class="row" app-for="<%- view.functions.depluralise(table) %> in <%- table %>">
        <% fields.forEach((item)=>{ %>

            <% if (item.input_type == 'image'){ %>
                <div class="cell middle <%- item.name %> <%- item.input_type %>"><img src="/images/Profile_Placeholder.svg" app-src="<%- view.functions.depluralise(table) %>.<%- item.name %>" class="<%- item.name %>"></div>
            <% if (item.input_type == 'text' && item.type.match(/barcode|qrcode/)){ %>
                <div class="cell middle <%- item.name %> <%- item.input_type %>"><img app-src="<%- view.functions.depluralise(table) %>.<%- item.name %>" class="<%- item.name %>"></div>
            <% } else if (item.input_type == 'object'){ %>
                <div class="cell middle <%- item.name %> <%- item.input_type %>" app-bind="<%- view.functions.depluralise(table) %>.<%- item.name %>.length"></div>
            <% } else if (item.input_type == 'date'){ %>
                <div class="cell middle <%- item.name %> <%- item.input_type %>" app-bind="parseDate(<%- view.functions.depluralise(table) %>.<%- item.name %>,'ddd Do MMM YYYY')"></div>
            <% } else { %>
                <div class="cell middle <%- item.name %> <%- item.input_type %>" app-bind="<%- view.functions.depluralise(table) %>.<%- item.name %>"></div>
            <% } %>
        <% }) %>
        <div class="cell middle text-right" app-attr="{id:'cell-'+<%- view.functions.depluralise(table) %>._key}">

            <div class="context-link btn bg-33-white text-secondary" app-click="toggleContext('context',<%- view.functions.depluralise(table) %>)">
                <i class="fas fa-chevron-down"></i>
            </div>


        </div>
    </div>
</div>
