<section class="block-model-grid <% if (typeof styling != 'undefined' && styling.background){ %><%- styling.background.class %><% } %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Product Grid" app-block-description="This is a product block which displays items in a grid" app-init="get('<%- data.api_address %>','?active=true&limit=4')" app-input="text" app-field="api_address">

        <div class="contain align-center">

            <% if (data.heading){ %><h2 class="heading" app-field="heading" app-input="text"><%- data.heading %></h2><% } %>
            <div class="flex">

                <a class="product-thumb text-center" app-for="item in <%- data.api_address %>" app-attr="{'href':item.url}">

                    <img app-src="item.thumbnail">
                    <h2 class="" app-bind="item.name"></h2>
                    <h3 class="" app-bind="parseCurrency(item.price)"></h3>

                </a>

            </div>

            <% if (data.button_link){ %>
                <a class="btn bg-primary" href="<%- data.button_link %>" app-input="text" app-field="button_link">
                    <span app-field="button_text" app-input="text"><%- data.button_text %></span>
                    <% if (data.button_icon){ %><span class="icon right white <%- data.button_icon %>" app-field="button_icon" app-input="icon"></span><% } %>
                </a>
            <% } %>

        </div>


</section>
