<section class="block-text-three-col <% if (typeof styling != 'undefined' && styling.background){ %><%- styling.background.class %><% } %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Text Three Column" app-block-description="This is a three column text block" app-allow-styling="true">

    <div class="contain <%- styling.container.class %>  <% if (styling.container.alignment){ %><%- styling.container.alignment %><% } else { %>align-left<% } %>">

        <% if (data.heading){ %><h2 app-input="text" app-field="heading" class="mb-2"><%- data.heading %></h2><% } %>

        <% if (data.sub_heading){ %><h4 class="mb-2" app-input="text" app-field="sub_heading"><%- data.sub_heading %></h4><% } %>

        <div class="grid col-3 col-s-1 gap-3 <% if (data.text_left_icon){ %>with-icons<% } %>">
            <div class="col col-left">
                <% if (data.text_left_icon){ %><div class="icon-wrap"><span app-input="icon" app-field="text_left_icon" class="icon primary <%- data.text_left_icon %>"></span></div><% } %>
                <% if (data.text_left_heading){ %><h3 app-input="text" app-field="text_left_heading"><%- data.text_left_heading %></h3><% } %>
                <% if (data.text_left){ %><div app-input="textarea" app-field="text_left"><%- data.text_left %></div><% } %>
            </div>
            <div class="col col-mid">
                <% if (data.text_mid_icon){ %><div class="icon-wrap"><span app-input="icon" app-field="text_mid_icon" class="icon primary <%- data.text_mid_icon %>"></span></div><% } %>
                <% if (data.text_mid_heading){ %><h3 app-input="text" app-field="text_mid_heading"><%- data.text_mid_heading %></h3><% } %>
                <% if (data.text_mid){ %><div app-input="textarea" app-field="text_mid"><%- data.text_mid %></div><% } %>
            </div>
            <div class="col col-right">
                <% if (data.text_right_icon){ %><div class="icon-wrap"><span app-input="icon" app-field="text_right_icon" class="icon primary <%- data.text_right_icon %>"></span></div><% } %>
                <% if (data.text_right_heading){ %><h3 app-input="text" app-field="text_right_heading"><%- data.text_right_heading %></h3><% } %>
                <% if (data.text_right){ %><div app-input="textarea" app-field="text_right"><%- data.text_right %></div><% } %>
            </div>
        </div>

        <% if (data.call_to_action_link){ %>
            <a class="btn bg-primary mt-2" href="<%- data.call_to_action_link %>" app-input="text" app-field="call_to_action_link">
                <span app-field="call_to_action_text" app-input="text"><%- data.call_to_action_text %></span>
                <% if (data.call_to_action_icon){ %><span class="icon right white <%- data.call_to_action_icon %>" app-field="call_to_action_icon" app-input="icon"></span><% } %>
            </a>
        <% } %>


    </div>

</section>
