<section class="py-2 <%- styling.background.class %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="hero" app-block-description="This is a hero block">

    <div class="contain vh-50 vh-s-70 flex-middle-left flex-column" data-parallax="0.2">

        <h1 class="" app-input="text" app-field="h1" data-animation="{'enter':'move-down','duration':'0.5s','easing':'ease'}"><%- data.h1 %></h1>
        <h4 class="my-1" data-animation="{'enter':'move-down','duration':'0.3s','easing':'ease','delay':'1s'}" app-input="text" app-field="h4"><%- data.h4 %></h4>
        <div class="text-light <%- data.link_classes %>" data-animation="{'enter':'move-down','duration':'0.3s','easing':'ease','delay':'1.3s'}" app-input="textarea" app-field="link"><%- data.link %></div>
    </div>

</section>
