<section class="block-text-three-col <% if (typeof styling != 'undefined' && styling.background){ %><%- styling.background.class %><% } %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Text Three Column" app-block-description="This is a three column text block" app-allow-styling="true">

    <div class="contain <%- styling.container.class %>  <% if (styling.container.alignment){ %><%- styling.container.alignment %><% } else { %>align-left<% } %>">

        <% if (data.heading){ %><h2 app-input="text" app-field="heading" class=""><%- data.heading %></h2><% } %>

        <% if (data.sub_heading){ %><h3 class="" app-input="text" app-field="sub_heading"><%- data.sub_heading %></h3><% } %>

        <div class="grid col-3 col-s-1 gap-3">
            <% if (data.left_text){ %>
                <a class="col col-left" app-input="text" app-field="left_link" <% if (data.left_link){ %>href="<%- data.left_link %>"<% } %>>
                    <% if (data.left_image){ %><img src="<%- data.left_image %>" app-input="image" app-field="left_image"><% } %>
                    <div class="details">
                        <% if (data.left_heading){ %><h4 app-input="text" app-field="left_heading"><%- data.left_heading %></h4><% } %>
                        <% if (data.left_text){ %><div app-input="textarea" app-field="left_text"><%- data.left_text %></div><% } %>
                    </div>
                </a>
            <% } %>
            <% if (data.centre_text){ %>
            <a class="col col-mid" app-input="text" app-field="centre_link" <% if (data.centre_link){ %>href="<%- data.centre_link %>"<% } %>>
                <% if (data.centre_image){ %><img src="<%- data.centre_image %>" app-input="image" app-field="centre_image"><% } %>
                <div class="details">
                    <% if (data.centre_heading){ %><h4 app-input="text" app-field="centre_heading"><%- data.centre_heading %></h4><% } %>
                    <% if (data.centre_text){ %><div app-input="textarea" app-field="centre_text"><%- data.centre_text %></div><% } %>
                </div>
            </a>
            <% } %>
            <% if (data.right_text){ %>
            <a class="col col-right" app-input="text" app-field="right_link" <% if (data.right_link){ %>href="<%- data.right_link %>"<% } %>>
                <% if (data.right_image){ %><img src="<%- data.right_image %>" app-input="image" app-field="right_image"><% } %>
                <div class="details">
                    <% if (data.right_heading){ %><h4 app-input="text" app-field="right_heading"><%- data.right_heading %></h4><% } %>
                    <% if (data.right_text){ %><div app-input="textarea" app-field="right_text"><%- data.right_text %></div><% } %>
                </div>

            </a>
            <% } %>
        </div>

        <% if (data.button_link){ %>
            <a class="btn bg-primary mt-2" href="<%- data.button_link %>" app-input="text" app-field="button_link">
                <span app-field="button_text" app-input="text"><%- data.button_text %></span>
                <% if (data.button_icon){ %><span class="icon right white <%- data.button_icon %>" app-field="button_icon" app-input="icon"></span><% } %>
            </a>
        <% } %>


    </div>

</section>
