<section class="block-text-two-col <% if (typeof styling != 'undefined' && styling.background){ %><%- styling.background.class %><% } %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Text Two Column" app-block-description="This is a two column text block">

    <div class="contain <%- styling.container.class %> <% if (styling.container.alignment){ %><%- styling.container.alignment %><% } else { %>align-center<% } %>">


        <div class="grid col-2 col-s-1">
            <div class="col col-left <% if (data.balloon){ %>relative layer-6<% } %>">
                <div>
                    <% if (data.heading){ %><h2 app-input="text" app-field="heading" class=""><%- data.heading %></h2><% } %>
                    <% if (data.sub_heading){ %><h3 app-input="text" app-field="sub_heading" class=""><%- data.sub_heading %></h3><% } %>

                    <div class="" app-input="textarea" app-field="text_left" anim="{'enter':'move-up'}">
                        <%- data.text_left %>
                    </div>

                    <% if (data.button_link){ %>
                        <a class="btn bg-primary" href="<%- data.button_link %>" app-input="text" app-field="button_link">
                            <span app-field="button_text" app-input="text"><%- data.button_text %></span>
                            <% if (data.button_icon){ %><span class="icon right white <%- data.button_icon %>" app-field="button_icon" app-input="icon"></span><% } %>
                        </a>
                    <% } %>
                </div>
            </div>

            <% if (data.balloon){ %>
                <div class="relative asset-wrap" app-input="checkbox" app-field="balloon">
                    <img src="/images/assets/CraftedChoc_Group_BalloonLineMapsCompass3.svg" class="asset-map-balloon layer-5">
                </div>
            <% } else if (data.image_right){ %>
                <div class="col col-right">
                    <div class="relative asset-wrap" app-input="image" app-field="image_right">
                        <img src="<%- data.image_right %>" class="">
                    </div>
                </div>
            <% } else { %>
                <div class="col col-right" app-input="textarea" app-field="text_right" anim="{'enter':'move-up'}">
                    <%- data.text_right %>
                </div>
            <% } %>


        </div>

    </div>

</section>
