<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary" />

    <% if (typeof meta == 'object'){ %>

        <% if (meta.title){ %>
            <meta property="og:title" content="<%= meta.title %>">
            <title><%= meta.title %></title>
        <% } %>
        <% if (meta.image){ %><meta property="og:image" content="<%= meta.image %>"><% } %>
        <% if (meta.url){ %><meta property="og:url" content="<%= meta.url %>"><% } %>
        <% if (meta.updated_time){ %><meta property="og:updated_time" content="<%= meta.updated_time %>"><% } %>
        <% if (meta.description){ %>
            <meta property="og:description" content="<%= meta.description %>">
            <meta name="description" content="<%= meta.description %>">
        <% } %>

    <% } else if (typeof view.meta == 'object'){ %>

        <title><%= view.meta.title %></title>
        <meta name="description" content="<%= view.meta.description %>">

        <meta property="og:title" content="<%= view.meta.title %>">
        <meta property="og:description" content="<%= view.meta.description %>">
        <meta property="og:image" content="<%= view.meta.logo %>">

    <% } %>

    <script src="https://kit.fontawesome.com/e7faa1906b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="/style/framework-33/v2.0/framework33.css?v=3.0.33" rel="stylesheet">
    <link href="/style/style.css?v=1614005762257" rel="stylesheet">

    <% if (typeof stripe_id != 'undefined'){ %>
        <script src="https://js.stripe.com/v3/"></script>
    <% } %>

    <% if (typeof include_styles != 'undefined') { %>

        <% include_styles.forEach((style,i)=>{ %>
            <% if (fs.existsSync(view.basedir+'/components/'+style)) { %>
                <%- include(view.basedir+'/components/'+style) %>
            <% } %>
        <% }) %>

    <% } %>

</head>
