
<% if (typeof menu != 'undefined'){ %>
    <% for (var i in menu){ %>

        <div class="link overflow-hidden">

            <% if (
                !menu[i].protected_guards && typeof menu[i].authenticated == 'undefined' ||
                typeof user != 'undefined' && user.guard && menu[i].protected_guards && menu[i].protected_guards.indexOf(user.guard) >= 0 ||
                typeof user != 'undefined' && user.guard && menu[i].authenticated == true ||
                typeof user == 'object' && !user.guard  && menu[i].authenticated == false ||
                typeof user == 'undefined' && menu[i].authenticated == false
            ){ %>
                <% if (menu[i].icon){ %><div class="icon"><%= menu[i].icon %></div><% } %>
                <a <% if (typeof menu[i].subitems != 'undefined'){ %>app-click="view.sub_<%- i %> = !view.sub_<%- i %>"<% } else { %> href="<%= menu[i].slug %>"<% } %> class="<% if (view.current_view == menu[i].link.toLowerCase()){ %>active<% } %>"><%= menu[i].link %></a>
            <% } %>
            <% if (typeof menu[i].subitems != 'undefined'){ %>
                <div class="subitems <% if (view.current_view == menu[i].link.toLowerCase()){ %>in-view"<% } else { %>" app-show="view.sub_<%- i %>"<% } %> anim="{'enter':'move-down','exit':'move-up'}">
                    <% for (var ii in menu[i].subitems){ %>
                        <a href="<%= menu[i].subitems[ii].slug %>" class="subitem <% if (view.current_sub_view == menu[i].subitems[ii].link.toLowerCase()){ %>active<% } %>">
                            <% if (menu[i].subitems[ii].icon){ %><div class="icon"><%= menu[i].subitems[ii].icon %></div><% } %>
                            <%= menu[i].subitems[ii].link %>
                        </a>
                    <% } %>
                </div>
            <% } %>

        </div>

    <% } %>
<% } %>
