
        <div class="header">
            <div class="logo">
                <a href="/">
                    <% if (user.avatar){ %>
                        <img src="<%- user.avatar %>">
                    <% } else { %>
                        <img src="/images/logo.svg">
                    <% } %>
                </a>
            </div>

            <div class="user-info">
                <p class="h5 text-weight-600"><%- view.functions.getTimeOfDay() %> <% if(typeof user.name == 'object'){ %><%- user.name.first %><% } %></p>
                <p class="text-small transparent-2">Logged in as <%- user.guard %></p>
            </div>
        </div>

        <div class="">
            <%- include('partials/menu.ejs',{menu:view.menus.side_nav}) %>
        </div>
