    <div class="side-nav bg-33-dream text-black">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <% if (user.avatar){ %>
                        <img src="<%- user.avatar %>" class="avatar">
                    <% } else { %>
                        <img src="/images/logo.svg">
                    <% } %>
                </a>
            </div>

            <div class="user-info">
                <p class="h5 text-weight-600 mb-0"><%- view.functions.getTimeOfDay() %> <% if(typeof user.full_name != 'undefined'){ %><%- view.functions.getFirstName(user.full_name) %><% } %></p>
                <p class="text-small transparent-2 mt-0">Logged in as <%- user.guard %></p>
            </div>
        </div>

        <div class="">
            <%- include('partials/menu.ejs',{menu:view.menus.side_nav}) %>
        </div>
    </div>
