
<% layout(config.site.dashboard_theme+'/dashboard.ejs') %>

<%- include(basedir+'/components/dashboard/views/partials/page_header.ejs') %>

<div class="card-wrap">

<% if (view.menus && view.menus.dashboard){ %>
    <% view.menus.dashboard.forEach((card)=>{ %>

        <% if (card){ %>
            <% if (typeof user != 'undefined' && user.guard && card.protected_guards && card.protected_guards.indexOf(user.guard) >= 0 || !card.protected_guards){ %>
                <div id="<%- card.link %>-card" class="card" <% if (card.query){ %>app-init="getDashboardData('<%- card.query %>','<%- card.link %>-card')"<% } %> <% if (card.slug){ %>app-click="goto('<%- card.slug %>')"<% } %>>
                    <div class="details">
                        <h4><%- card.link %></h4>
                        <% if (card.query){ %>
                            <div class="text"><div class="loader"></div></div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        <% } %>
    <% }) %>

<% } %>

</div>
