<% layout(config.site.dashboard_theme+'/dashboard.ejs') %>

    <%- include(basedir+'/components/dashboard/views/partials/page_header.ejs') %>

    <div class="actions">

        <div class="tabs">
            <% if (typeof fields == 'object') { %>
                <% for (var tab in fields){ %>
                    <a app-click="view.edit_tab = '<%- tab %>'" app-class="{'active':view.edit_tab == '<%- tab %>'}" class="capitalise"><%- view.functions.parseName(tab) %></a>
                <% } %>
            <% } %>
        </div>

    </div>

    <div class="edit-wrap edit-<%- table %>" app-init="getItem('<%- table %>','<%- key %>')">
            <%- include(basedir+'/themes/default/partials/input_fields/parse_fields.ejs') %>
    </div>

    <div class="loader-wrap" app-show="view.loader" data-animation="{'exit':'fade-out'}">
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
