<% layout(config.site.theme+'/dashboard.ejs') -%>

    <div class="header" app-init="getItem('<%- table %>','<%- key %>')">
        <div class="title">
            <h1 class="capitalise"><a class="text-black" href="/dashboard/<%- table %>"><span class="icon arrowleft black sm" style="margin-top: -4px;"></span> <span app-bind="new.name" class="font-weight-300"></span></a></h1>
        </div>

        <div class="buttons">

            <button class="btn highlight capitalise" app-show="new._id" app-click="saveItem('<%- table %>',new)">
                <span>Save <span class="hidden-s">&nbsp;<%- view.functions.parseName(table,true) %></span></span>
            </button>
            <button class="btn highlight capitalise" app-hide="new._id" app-click="addItem('<%- table %>',new)">
                <span>Add <span class="hidden-s">&nbsp;<%- view.functions.parseName(table,true) %></span></span>
            </button>
        </div>
    </div>

    <div class="actions">

        <div class="tabs">
            <% if (typeof fields == 'object') { %>
                <% for (var tab in fields){ %>
                    <a app-click="view.edit_tab = '<%- tab %>'" app-class="{'active':view.edit_tab == '<%- tab %>'}" class="capitalise"><%- view.functions.parseName(tab) %></a>
                <% } %>
            <% } %>
        </div>

    </div>

    <div class="edit-wrap edit-<%- table %>">
            <%- include(config.site.theme_path+'/partials/input_fields/parse_fields.ejs') %>
    </div>

    <div class="loader-wrap" app-show="view.loader" data-animation="{'exit':'fade-out'}">
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
