<% layout(config.site.dashboard_theme+'/dashboard.ejs') %>

    <div class="header" app-init="getItem('<%- table %>','<%- key %>')">

        <div class="burger visible">
            <a href="<%- view.functions.getModelBackLink() %>"><span class="icon arrowleft black"></span></a>
        </div>
        <div class="title">
            <h1 app-hide="new.name" class="capitalise"><a href="<%- view.functions.getModelBackLink() %>"><%- view.functions.parseName(table,true) %></a></h1>
            <h1 app-show="new.name" class="capitalise"><a href="<%- view.functions.getModelBackLink() %>" app-bind="new.name">Back</a></h1>
        </div>

        <div class="buttons">

            <% if (typeof action_buttons != 'undefined'){ %>
                <% action_buttons.forEach(button => { %>
                    <a <% if (button.href){ %> href="<%- button.href %>"<% } %> <% if (button.click){ %> app-click="<%- button.click %>"<% } %> class="btn bg-white"><span class="text"><%- button.text %></span><span class="icon <%- button.icon %> white"></span></a>
                <% }) %>
            <% } %>

            <button class="btn bg-primary capitalise" app-show="new._id" app-click="saveItem('<%- table %>',new)">
                <span class="text">Save <%- view.functions.parseName(table,true) %></span><span class="icon tick white"></span>
            </button>
            <button class="btn bg-primary capitalise" app-hide="new._id" app-click="addItem('<%- table %>',new)">
                <span class="text">Add <%- view.functions.parseName(table,true) %></span><span class="icon tick white"></span>
            </button>
        </div>
    </div>

    <div class="actions">

        <div class="tabs">
            <% if (typeof fields == 'object') { %>
                <% for (var tab in fields){ %>
                    <a app-click="view.edit_tab = '<%- tab %>'" app-class="{'active':view.edit_tab == '<%- tab %>'}" class="capitalise"><%- view.functions.parseName(tab) %></a>
                <% } %>
            <% } %>
        </div>

    </div>

    <div class="edit-wrap edit-<%- table %>">
        <%- include(basedir+'/themes/default/partials/input_fields/parse_fields.ejs') %>
    </div>

    <div class="loader-wrap" app-show="view.loader" data-animation="{'exit':'fade-out'}">
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <div class="hidden-d hidden-m p-2">

        <% if (typeof action_buttons != 'undefined'){ %>
            <% action_buttons.forEach(button => { %>
                <a <% if (button.href){ %> href="<%- button.href %>"<% } %> <% if (button.click){ %> app-click="<%- button.click %>"<% } %> class="btn bg-white w-100 mb-1"><span class="text"><%- button.text %></span><span class="icon <%- button.icon %> white"></span></a>
            <% }) %>
        <% } %>

        <button class="btn bg-white capitalise w-100 mb-1" app-show="new._id" app-click="deleteItem('<%- table %>',new)">
            <span class="text">Delete</span>
        </button>

        <button class="btn bg-primary capitalise w-100 mb-1" app-show="new._id" app-click="saveItem('<%- table %>',new)">
            <span class="text">Save</span>
        </button>
        <button class="btn bg-primary capitalise w-100 mb-1" app-hide="new._id" app-click="addItem('<%- table %>',new)">
            <span class="text">Add</span>
        </button>


    </div>
