<% layout(config.site.theme+'/dashboard.ejs') -%>

<% if (typeof title == 'undefined'){ var title = ''} %>
<% if (typeof view.current_sub_view == 'undefined'){ view.current_sub_view = ''} %>

    <div class="header">
        <div class="title">
            <h1 class="mr-1"><%- title %></h1><input type="text" class="flex-1" app-change="search('<%- table %>')" placeholder="Search by <%- view.functions.parseSearchFields(search_fields) %>">
        </div>
        <div class="buttons">

            <% if (typeof action_buttons != 'undefined'){ %>
                <% action_buttons.forEach(button => { %>
                    <a <% if (button.href){ %> href="<%- button.href %>"<% } %> <% if (button.click){ %> app-click="<%- button.click %>"<% } %> class="btn <% if (title.toLowerCase() == button.text.toLowerCase() || view.current_sub_view.toLowerCase() == button.text.toLowerCase()){ %>bg-primary<% } else { %>bg-white<% } %>"><%- button.text %></a>
                <% }) %>
            <% } %>
            <a class="btn bg-primary" href="/dashboard/<%- table %>/new">Add <%- view.functions.parseName(table,true) %><span class="icon plus right white"></span></a>

        </div>
    </div>

    <%- include(basedir+'/components/dashboard/views/partials/grid.ejs') %>

    <div class="fixed bottom left w-100 p-2 hidden-m hidden-d">
        <button class="btn highlight" app-click="newObj('<%- table %>')">New <%- view.functions.parseName(table,true) %></button>
    </div>

    <div id="context" class="context dropdown text-left" style="display: none">

        <% if (typeof context_menu == 'object'){ %>

            <% context_menu.forEach((item,i) => { %>

                <div class="link" app-click="<%- item.function %>('<%- table %>')">
                    <span class="icon <%- item.icon %> primary"></span>
                    <%- item.text %>
                </div>

            <% }) %>

        <% } %>

        <div class="link" app-click="editItem('<%- table %>')">
            <span class="icon edit left primary"></span>
            Edit
        </div>
        <div class="link" app-click="deleteItem('<%- table %>')">
            <span class="icon bin left primary"></span>
            Delete
        </div>


    </div>
