<% layout(config.site.dashboard_theme+'/dashboard.ejs') %>

    <%- include(basedir+'/components/dashboard/views/partials/page_header.ejs') %>

    <%- include(basedir+'/components/dashboard/views/partials/table.ejs') %>

    <div id="context" class="context dropdown text-left" style="display: none">

        <% if (typeof context_menu == 'object'){ %>

            <% context_menu.forEach((item,i) => { %>

                <div class="link" app-click="<%- item.function %>('<%- table %>')">
                    <span class="icon <%- item.icon %> primary"></span>
                    <%- item.text %>
                </div>

            <% }) %>

        <% } %>

        <div class="link" app-click="editItem('<%- table %>')">
            <span class="icon edit left primary"></span>
            Edit
        </div>
        <% if (typeof model == 'object' && model.routes.private.post.duplicate){ %>
            <div class="link" app-click="duplicateItem('<%- table %>')">
                <span class="icon plus left primary"></span>
                Duplicate
            </div>
        <% } %>
        <div class="link" app-click="deleteItem('<%- table %>')">
            <span class="icon bin left primary"></span>
            Delete
        </div>


    </div>
