<% layout('default/dashboard.ejs') -%>

    <div class="grid col-2 mb-3">
        <div class="flex flex-middle-left">
            <h3><%- title %></h3>
        </div>
        <div class="flex flex-middle-right">
            <div class="flex-1 flex">
                <button class="bg-33-white text-33-grey pr-0"><i class="fas fa-search"></i></button>
                <input type="text" class="" onkeyup="scope.searchApi('<%- table %>',this.value)">
            </div>
            <button class="flex-none btn highlight" app-click="newObj('<%- table %>')">New <%- view.functions.parseName(table,true) %></button>
        </div>
    </div>

    <%- include(basedir+'/components/dashboard/views/partials/table.ejs') %>

    <div id="context" class="context dropdown text-left" style="display: none">
        <div class="link" app-click="editItem('<%- table %>',context)">
            <i class="fas fa-pen-alt"></i>
            Edit
        </div>
        <div class="link" app-click="deleteItem('<%- table %>',context)">
            <i class="fas fa-trash"></i>
            Delete
        </div>
    </div>
