<% layout(config.site.theme+'/page.ejs') -%>


<section class="vh-90 relative flex flex-middle flex-column bg-33-light-grey bg-cover pt-3"<% if (shop.image){ %> style="background-image: url('<%- shop.image %>')"<% } %>>
    <div class="background bg-33-transparent-dark-grey"></div>
    <h1 class="text-33-white mb-1" anim="{'enter':'fade-in','duration':'3s'}"><%- shop.name %></h1>
    <% if (shop.sub_title){ %>
        <div class="contain">
            <div class="contain">
                <h2 class="text-33-white" style="font-size: 1.2em" anim="{'enter':'move-down','delay':'0.5s','duration':'0.5s'}"><%- shop.sub_title %></h2>
            </div>
        </div>
    <% } %>
</section>

<section class="py-6">

    <div class="contain">

        <% if (shop.description){ %>
            <div class="contain mb-6">
                <p class="h6 lh2"><%- shop.description %></p>
            </div>
        <% } %>

        <% if (typeof categories == 'object'){ %>

            <div class="grid col-2 col-s-1 gap-2">

                <% categories.forEach((category,i)=>{ %>

                    <a href="/<%- category.slug %>" class="block bg-33-light-grey rounded flex overflow-hidden shadow" anim="{'enter':'move-up'}">

                        <div class="flex-1">
                            <img src="<%- category.image %>" class="object-fit">
                        </div>
                        <div class="flex-1 p-2 text-left">
                            <h2 class="h6 text-weight-500"><%- category.name %></h2>
                            <p><%- category.sub_title %></p>
                        </div>

                    </a>

                <% }) %>

            </div>

        <% } %>

    </div>

</section>
