<% layout('default/page.ejs') -%>

<section class="pt-7 pb-4">

    <div class="contain grid col-2 col-s-1 gap-2 text-left">

        <div>
            <img src="<%- product.image_1 %>" app-src="view.gallery_image">
            <div class="overflow-x" style="height: 5rem">
                <% if (typeof product.gallery != 'undefined'){ %>
                    <% product.gallery.forEach((image)=>{ %>
                        <img src="<%- image.value %>" class="inline-block h-100 clickable" app-click="view.gallery_image = '<%- image.value %>'">
                    <% }) %>
                <% } %>
            </div>
        </div>

        <div class="pt-2">

            <div class="">
                <div class="text-small mb-2">
                    <a class="" href="/<%- category.slug %>"><%- category.name %></a>
                    <% if (typeof sub_category == 'object'){ %>
                        / <a class="" href="/<%- category.slug %>/<%- sub_category.slug %>"><%- sub_category.name %></a>
                    <% } %>
                </div>
                <h1 class="h3 text-weight-600"><%- product.name %></h1>
                <h2 class="h4 py-2 text-primary text-weight-600">
                    £<%- functions.getPrice(product.price, product.adjustment) %>
                    <% if (product.adjustment){ %>
                        <br>
                        <span class="h6 strikethrough text-33-blue">£<%- product.price %></span>
                        <% if (product.adjustment.match(/%/)){ %>
                            <span class="p text-right text-33-blue"><%- Math.abs(product.adjustment.replace(/%/g,'')) %>% off</span>
                        <% } else { %>
                            <span class="p text-right text-33-blue">£<%- Math.abs(product.adjustment) %> off!</span>
                        <% } %>
                    <% } %>
                </h2>

            </div>


            <p><%- product.description %></p>

            <div class="flex my-2">
                <div class="flex flex-1">
                    <button class="flex-1 btn bg-33-white text-33-grey" app-click="quantity('minus')"><i class="fas fa-minus"></i></button>
                    <input type="text" class="flex-1 shadow text-center" app-model="view.add_item.quantity">
                    <button class="flex-1 btn bg-33-white text-33-grey" app-click="quantity('add')"><i class="fas fa-plus"></i></button>
                </div>
                <% if (product.stock){ %>
                    <button class="flex-1 btn bg-33-blue" app-click="addToCart('<%- product._key %>','<%- product.guard %>')">Add to <%- view.functions.capitalise(view.ecommerce.cart_name) %></button>
                <% } else { %>
                    <button class="flex-1 btn bg-33-blue transparent" >Out of stock</button>
                <% } %>
            </div>

        </div>

    </div>

</section>
