<% layout(config.site.dashboard_theme+'/dashboard-fullscreen.ejs') -%>

<div class="authentication wrapper">

    <div class="col-form">

        <div class="form">

            <% if (type == 'reset'){ %>

                <h1 class="h4 text-light capitalise my-4">Reset Password</h1>
                <p class="text-left mb-2">Enter your email address below and we'll send you a password reset link</p>

                <% if (typeof error != 'undefined'){ %>
                    <div class="error">
                        <%- error %>
                    </div>
                <% } %>

                <form method="post" action="/login/<%- guard %>/send-reset" class="w-100">
                    <div class="colspan-2">
                        <input type="text" name="email" placeholder="Email Address" class="rounded">
                    </div>
                    <div>
                        <input type="submit" class="btn highlight thick w-100 mt-2" value="Send">
                    </div>
                </form>

            <% } else if (type == 'reset_sent'){ %>

                <h1 class="h4 text-light capitalise my-4">Reset Password</h1>
                <p class="text-left mb-2">An email has been sent to your email address. Click the link to reset your password</p>

            <% } else { %>

                <h1 class="h4 text-light capitalise my-4">Reset Password</h1>
                <p class="text-left mb-2">Enter your email address and a new password below</p>

                <% if (typeof error != 'undefined'){ %>
                    <div class="error">
                        <%- error %>
                    </div>
                <% } %>

                <form method="post" action="/login/<%- guard %>/reset-password" class="grid col-1 gap-1 w-100">
                    <div class="">
                        <input type="text" name="email" placeholder="Email Address" class="rounded">
                    </div>
                    <div class="">
                        <input type="password" name="password" placeholder="Password" class="rounded">
                    </div>
                    <div class="">
                        <input type="password" name="password_confirmation" placeholder="Confirm Password" class="rounded">
                        <input type="hidden" name="password_reset" value="<%- type %>">
                    </div>
                    <div>
                        <input type="submit" class="btn highlight thick w-100 mt-2" value="Reset">
                    </div>
                </form>

            <% } %>

            <span class="icon cmslogo grey xl"></span>

        </div>

    </div>

    <div class="col-image">



    </div>

</div>
