
    <script>

        extend.dashboard = function(){

            scope.view.heading = ''
            scope.view.edit_tab = 'details'
            scope.view.form = {
                inputs: [],
                details: {
                    name: '',
                    url:'',
                    button_text:''
                }
            }

            scope.view.icons = ['alarm','arrowdown','arrowleft','arrowup','arrowright','bell','bin','binoculars','box','bulletlist','calendar','cardpayment','clock','cmslogo','contentbanner','contentbutton','contentfeatures','contenttext','contenttitle','contentvideo','crosshairs','duplicate','edit','envelope','eye','gauge','handstop','help','house','link','mapmarker','mapmarkerundo','megaphone','merge','noentry','note','person','piechart','plus','pricetag','pulse','repeatarrow','rocket','scissors','screen','search','settings','shoppingbasket','shoppingtrolley','sidemenucollapse','sidemenuexpand','signin','signout','speechbubble1','speechbubble2','stopwatch','suppliers','swap','threedots','thumbsdown','thumbsup','tick','tickcircle','unlink','voucher','x','xcircle']

            scope.exec_data = {}

            scope.focusSearch = function(el){

                if (el.classList.contains('focused')){
                    el.classList.remove('focused')
                } else {
                    el.classList.add('focused')
                }

            }

            scope.view.input_check = ''

            <% if (typeof status_count == 'object'){ %>

                scope.view.status_count = <%- JSON.stringify(status_count) %>
                scope.view.status_count_obj = {}

                scope.view.status_count.map((status)=>{

                    scope.view.status_count_obj[status.field] = status.count
                    let menu_link = document.querySelector('.side-nav a#menu-'+status.field)

                    if (menu_link){
                        menu_link.innerHTML = menu_link.innerHTML+'<div class="count">'+status.count+'</div>'
                    }

                })

            <% } %>

            scope.toggleContext = function(type, key){

                let el = document.getElementById(type),
                    target = this.target

                if (target && !target.classList.contains('context-link') || target && !target._app){
                    target = target.parentNode
                }

                // if (el && el.style && el.style.display != 'none'){
                //     view.exitView(el).then(()=>{
                //     })
                // } else {
                //    contextCloseAll()
                // }

                let table_wrap = document.querySelector('.table-inner-wrap')
                if (table_wrap){
                    table_wrap.style.overflowY = 'hidden'
                }

                view.enterView(el).then(()=>{
                })

                let target_pos = target.getBoundingClientRect()

                let top = target_pos.top,
                    left = target_pos.left

                if (left+el.offsetWidth > window.innerWidth){
                    left = left - el.offsetWidth + target.offsetWidth
                }

                top = top

                el.style.top = top+'px'
                el.style.left = left+'px'
                el.style.width = target_pos.width+'px'

                if (typeof key == 'number'){
                    scope.view.key = key
                } else if (typeof key == 'undefined'){
                    scope.view.key = 0
                }

            }

            scope.search = function(collection){

                clearTimeout(scope.view.typing)
                clearTimeout(scope.view.input_check)

                let str = this.target.value

                if (str.length > 2){

                    scope.view.typing = setTimeout(function(){

                        let url = '/api/'+collection+'/search?str='+str.toLowerCase()

                        http.get(url)
                            .then((data) => {

                                scope[collection] = JSON.parse(data)
                                view.update(collection)

                                if (scope[collection].length == 0){
                                    scope.notify('Nothing found','error',5,'fa-search')
                                } else if (scope[collection].length == 1){

                                    scope.view.input_check = setTimeout(function(){
                                        let first_input = document.querySelector('.table input[type=text]')

                                        if (first_input){
                                            first_input.focus()
                                        }
                                    },500)

                                }

                            }).catch((err) => {
                                console.log(err)
                                scope.notify(err, 'error')
                            })

                    },500)

                } else {

                    <% if (typeof table != 'undefined'){ %>

                        scope.view.typing = setTimeout(function(){

                            scope.get('<%- table %><% if (typeof query != 'undefined'){ %><%- query %><% } %>').then((data)=>{
                                scope[collection] = data
                                view.update(collection)
                            }).catch((err) => {
                                console.log(err)
                                scope.notify(err, 'error')
                            })

                        },500)

                    <% } %>
                }


            }

            scope.newObj = function(type){
                scope.new = {}
                scope.new.new_array = {}
                view.update('new')
                scope.openModal('show_edit')
            }

            scope.resetNew = function(){

                return new Promise(function(resolve, reject) {
                    scope.new = {}
                    scope.new.new_array = {}
                    scope.view.modal = false
                    resolve()
                });

            }

            scope.getDashboardData = function(query, id){

                http.get(query).then((data)=>{

                    let el = document.querySelector('#'+id+' .details .text')
                    if (el){
                        el.innerHTML = data
                    }

                })

            }

            scope.getItem = function(collection, key){

                if (key != 'new'){
                    setTimeout(function(){
                        http.get('/api/'+collection+'/'+key).then((data)=>{
                            scope.new = JSON.parse(data)

                            scope.setPageTitle(scope.new)

                            view.update('new')
                        })
                    },500)
                }

            }

            scope.setPageTitle = function(obj){

                if (typeof obj == 'object'){
                    if (obj.name){
                        scope.view.page_title = obj.name
                    } else if (obj.title){
                        scope.view.page_title = obj.title
                    } else if (obj.full_name){
                        scope.view.page_title = obj.full_name
                    }
                } else {
                    scope.view.page_title = obj
                }

                view.update('view.page_title')
            }

            scope.fromPrice100 = function(var_str){

                if (!scope.view.prices_changed){
                    scope.view.prices_changed = []
                }
                scope.view.prices_changed.push(var_str)
                setTimeout(function(){

                    let val = evaluate.getValue(var_str)
                    if (typeof val == 'number'){
                        val = (val/100).toFixed(2)
                        view.set(var_str, val)
                    }

                },1000)

            }

            scope.editItem = function(collection){

                window.location.href = '/dashboard/'+collection+'/'+scope[collection][scope.view.key]._key

            }

            scope.addItem = function(collection, obj){

                delete obj._key
                delete obj._id

                scope.post(collection, obj).then((data)=>{
                    view.update(collection)
                    scope.closeModal()
                    scope.notify('Added')
                }).catch((err)=>{
                    scope.notify(err,'error')
                })

            }

            scope.saveItem = function(collection, obj, keep_open){

            //    const editordata = editor.getData()

                return new Promise( async (resolve, reject) => {

                    if (scope.view.key){
                        scope[collection][scope.view.key] = obj
                    }

                    scope.notify('Saving...')

                    if (typeof obj.content != 'undefined'){
                    //    obj.content = contented.getData()
                    }

                    scope.post(collection, obj).then((data)=>{
                        // console.log(collection, data, scope.view.key)
                        // scope[collection][scope.view.key] = data
                        // view.update(collection+'['+scope.view.key+']')
                        // if (!keep_open){
                        //     scope.closeModal()
                        // }
                        resolve()
                        scope.notify('Done')

                    }).catch((err)=>{
                        console.log(err)
                        reject(err)
                        scope.notify(err,'error')
                    })


                })


            }

            scope.saveSingle = function(collection, key, obj){

                scope.notify('Saving...','success','inf','fa-save rotate')

                scope.put(collection, key, scope.new).then((data)=>{
                    scope.notify('Updated')
                }).catch((err)=>{
                    scope.notify(err,'error')
                })

            }

            scope.deleteItem = function(collection, idx){

                if (scope.view.modal && scope.view.modal == 'delete_confirm'){

                    contextCloseAll()

                    let key = scope[collection][scope.view.key]._key

                    scope.closeModal()
                    scope.delete(collection,key).then(()=>{
                        delete scope.view.modal_text
                        view.update(collection)
                        scope.notify('Deleted')
                    }).catch((err)=>{
                        console.log(err)
                        scope.notify(err,'error')
                    })

                } else {
                    console.log('delete_confirm')
                    scope.openModal('delete_confirm')
                }

            }

            scope.addToCollection = function(obj,item,input){

                scope.push(obj,item,input)
                <% if (typeof key != 'undefined' && typeof table != 'undefined'){ %>
                scope.saveItem('<%- table %>',scope.new).then(()=>{
                    scope.get('<%- table %>','<%- key %>/get-items','collection_items')
                })
                <% } %>
            }

            scope.push = function(obj,item,input){

                if (!item){
                    return false
                }

                let obj_string = ''

                if (typeof obj == 'string'){
                    obj_string = obj+''
                    obj = evaluate.getValue(obj)
                }

                if (!obj || obj == null){
                    evaluate.setValue(obj_string,[])
                    obj = []
                }

                if (typeof item == 'string'){
                    item = {
                        _key: Date.now(),
                        value: item.replace(/"/g,'')
                    }
                } else if (typeof item == 'object'){
                    item._key = Date.now()
                } else {
                    item = item+''
                }

                if (input){

                    obj.push(item)
                    evaluate.setValue(input,'')
                    view.update(obj_string)

                } else {
                    obj.push(item)
                    view.update(obj_string)
                }

            }

            scope.splice = function(obj_name, idx, update){

                let obj = evaluate.getValue(obj_name)

                if (obj){
                    obj.splice(idx,1)
                }

                if (update){
                    let obj_update = evaluate.getValue(update)

                    if (obj_update){
                        obj_update.splice(idx,1)
                    }
                    view.update(update)
                } else {
                    view.update(obj_name)
                }

            }

            scope.getMailbox = function(){

                scope.get('mailbox','?sort=_created').then((mailbox) => {
                //    scope.openMessage(mailbox[0])
                })

            }

            scope.openMessage = function(message,idx){

                if (!idx){
                    idx = 0
                }

                scope.get('mailbox',message._key+'/open','view.message').then((msg_data) => {
                    scope.view.message = msg_data
                    scope.mailbox[idx] = msg_data
                    view.update('view.message')
                    view.update('mailbox['+idx+']')

                    let msgs = document.querySelectorAll('.message-summary')

                    for (var i in msgs){
                        if (typeof msgs[i].getAttribute == 'function' && msgs[i].getAttribute('id') == scope.view.message._key){
                            msgs[i].classList.add('open')
                        } else if (typeof msgs[i].getAttribute == 'function'){
                            msgs[i].classList.remove('open')
                        }
                    }

                })

            }

            scope.markUnread = function(){

                if (scope.view.message){

                    scope.view.message.read = false

                    scope.post('mailbox',scope.view.message).then((msg_data) => {
                        scope.view.message = msg_data

                        let idx = scope.mailbox.findIndex((item)=>{
                            return item._key == scope.view.message._key
                        })

                        scope.mailbox[idx] = msg_data
                        view.update('view.message')
                        view.update('mailbox['+idx+']')
                    })

                } else if (scope.view.key >= 0){

                    scope.mailbox[scope.view.key].read = false

                    scope.post('mailbox',scope.mailbox[scope.view.key]).then((msg_data) => {
                        view.update('mailbox['+scope.view.key+']')
                        contextCloseAll()
                    })

                }


            }

            scope.insertMedia = function(media){

                if (scope.exec_data.selection){
                    scope.insertCEMedia(media)
                } else {
                    evaluate.setValue(scope.view.media_obj,media.url)

                    if (typeof scope.renderPage == 'function'){
                        scope.renderPage()
                    }
                    scope.closeModal()
                }

            }

            scope.showMediaLibrary = function(obj){

                scope.view.media_obj = obj

                if (!scope.media_library){
                    scope.get('media_library'<% if (typeof table != 'undefined'){ %>,'search?str=<%- table %>&sort=_created&desc=true'<% } else { %>,'?sort=_created&desc=true'<% } %>).then((data)=>{

                        scope.media_library = data
                        scope.openModal('show_media_library')

                    })
                } else {
                    scope.openModal('show_media_library')
                }

            }

            scope.openModal = function(modal, text){

                document.getElementsByTagName('body')[0].style.overflowY = 'hidden'
                document.getElementsByTagName('html')[0].style.overflowY = 'hidden'
                contextCloseAll()
                scope.view.modal = modal

                if (text){
                    scope.view.modal_text = text
                    view.update('view.modal_text')
                }

                view.update('view.modal')
            }

            scope.closeModal = function(){
                console.log('here')
                document.getElementsByTagName('body')[0].style.overflowY = 'auto'
                document.getElementsByTagName('html')[0].style.overflowY = 'auto'
                scope.view.modal = false
                view.update('view.modal')
            }

            var savedrange = null;


            scope.insertTab = function(e) {
                if (e.keyCode != 9) return // tab key
                document.execCommand('insertHTML', false, '&#009')
                e.preventDefault();
            }

            scope.stripTags = function(str){
                let div = document.createElement("div")
                div.innerHTML = str.toString()
                return div.innerText
            }

            scope.addInput = function(){

                let payload = {
                    type:'text',
                    label: ''
                }

                scope.view.form.inputs.push(payload)

            }

            scope.insertForm = function(){

                setCaret(scope.view.exec.selection)

                let form_name = scope.view.form.details.name.replace(/\s/g,'-').replace(/\'|\"|\,|\./g,'').toLowerCase()

                let form = '<form id="'+form_name+'" action="'+scope.view.form.details.url+'" method="post">'

                scope.view.form.inputs.map((input)=>{

                    if (!input.type.match(/checkbox/i)){
                        form += '<div class="mb-1"><label>'+input.label+'</label>'
                    } else {
                        form += '<div class="mb-1">'
                    }

                    let required = ''

                    if (input.required === true){
                        required = ' required="true"'
                    }

                    if (input.type.match(/textarea/i)){
                        form += '<textarea id="form-'+input.label.replace(/\s/g,'-').toLowerCase()+'" class="form-'+form_name+'"'+required+'></textarea></div>'
                    } else if (input.type.match(/checkbox/i)){
                        form += '<label class="checkbox"><input type="'+input.type+'" id="form-'+input.label.replace(/\s/g,'-').toLowerCase()+'" class="form-'+form_name+'"'+required+'><p>'+input.label+'</p></label></div>'
                    } else {
                        form += '<input type="'+input.type+'" id="form-'+input.label.replace(/\s/g,'-').toLowerCase()+'" class="form-'+form_name+'"'+required+'></div>'
                    }

                })

                if (!scope.view.form.details.button_text){
                    scope.view.form.details.button_text = 'Submit'
                }

                form += '<div class="text-right"><button class="btn highlight" app-click="submitForm(\''+form_name+'\')">'+scope.view.form.details.button_text+'</div></form>'

                document.execCommand('insertHTML',false,form)

                scope.view.modal = false
                scope.view.form = {
                    inputs: [],
                    details: {
                        name: '',
                        url:'',
                        button_text:''
                    }
                }

            }

            socketConnect("<%- view.websocket.url %>")

            watch['ws_data'] = function(data){

                console.log('incoming: ',data)

                if (typeof data == 'object' && data.text){

                    if (data.subject){
                        scope.view.page_title = document.title+''
                        document.title = data.subject
                    }

                    scope.notify(data.text,'success',60,'envelope').then(()=>{
                        if (data.subject){
                            document.title = scope.view.page_title
                        }
                    })

                } else if (typeof data == 'string'){

                    scope.notify(data,'success',60,'envelope')

                }

            }

            scope.insertCEMedia = function(media){

                scope.exec_data.url = media.url
                scope.exec('insertImage',scope.exec_data).then(()=>{
                    if (typeof scope.renderPage == 'function'){
                        scope.renderPage()
                    }
                })

            }

            scope.execModal = function(type, id){

                scope.exec_data = {}

                if (id){

                    let el = document.getElementById(id)
                    let range = new Range();
                    range.setStart(el, 0);
                    range.setEnd(el, 0);
                    scope.exec_data.selection = range
                    scope.exec_data.id = id
                    scope.exec_data.el = el
                    scope.exec_data.url = el.getAttribute('src')
                    scope.exec_data.text = scope.stripTags(el.innerHTML)
                    scope.exec_data.icon = el.dataset.icon
                    scope.exec_data.classes = el.className
                    scope.exec_data.title = el.title
                    scope.exec_data.target = el.getAttribute('target')
                    scope.exec_data.alt_text = el.getAttribute('alt')

                    if (el.hasAttribute('href')){
                        scope.exec_data.url = el.getAttribute("href")
                    }

                } else {
                    scope.exec_data.selection = getCaret()
                    scope.exec_data.text = getSelectionText()
                }

                view.update('exec_data')

                if (type == 'insertMedia'){

                    if (scope.exec_data.selection === true && !scope.exec_data.el){
                        scope.notify('Please select where you would like the image to be placed in the text area, before adding any media','error')
                    } else {

                        scope.showMediaLibrary()
                    }

                } else {
                    scope.openModal(type)
                }

            }

            scope.exec = function(type, data){

                if (!scope.exec_data.selection){
                    scope.exec_data = {}
                    scope.exec_data.selection = getCaret()
                    scope.exec_data.text = getSelectionText()
                }

                return new Promise( async (resolve, reject) => {

                    if (scope.exec_data.selection && scope.exec_data.selection !== true){
                        setCaret(scope.exec_data.selection)
                    }

                    let icon = ''

                    if (type == 'insertImage'){

                        let style = ''
                        if (data.align && data.align == 'inline'){
                            style = 'style="width: auto;"'
                        }

                        if (scope.exec_data.el){

                            scope.exec_data.el.src = data.url

                            if (data.alt_text){
                                scope.exec_data.el.setAttribute('alt', data.alt_text)
                            } else {
                                scope.exec_data.el.removeAttribute('alt')
                            }

                            if (data.align){
                                scope.exec_data.el.className = "ce-img "+data.align
                            }
                            document.execCommand('insertHTML',false,'') // needed to trigger a change in the app-model
                            scope.exec_data.el.removeAttribute('id')

                        } else {
                            type = 'insertHTML'
                            data = '<img src="'+data.url+'" class="ce-img '+data.align+'" alt="'+data.alt_text+'" '+style+'><p></p>'
                            document.execCommand(type,false,data)
                        }

                    } else if (type == 'removeImage'){

                        if (scope.exec_data.el){
                            scope.exec_data.el.parentNode.removeChild(scope.exec_data.el)
                            document.execCommand('insertHTML',false,'')
                        }

                    } else if (type == 'insertIcon'){

                        if (scope.exec_data.el){

                            var new_span = document.createElement("span")
                            new_span.className = 'ce-icon icon '+data.icon+' '+data.color+' '+data.size
                            scope.exec_data.el.parentNode.replaceChild(new_span, scope.exec_data.el)
                            document.execCommand('insertHTML',false,'')

                        } else {

                            if (data.icon){
                                icon = '<div class="text-'+data.align+'"><span class="ce-icon icon '+data.icon+' '+data.color+' '+data.size+'"></span></div>'
                            }

                            type = 'insertHTML'
                            document.execCommand(type,false,icon)

                        }

                    } else if (type == 'addCTA'){

                        if (scope.exec_data.el){

                            if (data.icon){
                                data.text += '<span class="icon right '+data.icon+' white"></span>'
                            }

                            scope.exec_data.el.setAttribute('href', data.url)
                            scope.exec_data.el.className = data.classes
                            scope.exec_data.el.innerHTML = data.text
                            document.execCommand('insertHTML',false,'')

                        } else {

                            if (!data.classes){
                                data.classes = 'bg-primary'
                            }

                            if (data.icon){
                                icon = '<span class="icon right '+data.icon+' white"></span>'
                            }

                            type = 'insertHTML'
                            data = '<div class="text-'+data.align+'"><a href="'+data.url+'" data-icon="'+data.icon+'" class="ce-cta btn '+data.classes+'">'+data.text+icon+'</a></div>'
                            document.execCommand(type,false,data)

                        }

                    } else if (type == 'createLink'){

                        if (scope.exec_data.el){

                            if (data.url){

                                scope.exec_data.el.setAttribute('href', data.url)
                                scope.exec_data.el.className = data.classes
                                scope.exec_data.el.innerHTML = data.text
                                if (data.title){
                                    scope.exec_data.el.title = data.title
                                } else {
                                    scope.exec_data.el.removeAttribute('title')
                                }

                                if (data.target){
                                    scope.exec_data.el.setAttribute('target', data.target)
                                } else {
                                    scope.exec_data.el.removeAttribute('target')
                                }
                                scope.exec_data.el.removeAttribute('id')

                            } else {
                                var new_span = document.createElement("span")
                                new_span.innerHTML = data.text
                                scope.exec_data.el.parentNode.replaceChild(new_span, scope.exec_data.el)
                            }

                            document.execCommand('insertHTML',false,'<span></span>')

                        } else {

                            let target = '',
                                title = ''

                            if (data.target){
                                target = 'target="'+data.target+'"'
                            }

                            if (data.title){
                                target = 'title="'+data.title+'"'
                            }

                            if (data.url){
                                type = 'insertHTML'
                                data = '<a href="'+data.url+'" '+target+' '+title+' class="ce-link '+data.classes+'">'+data.text+'</a>'
                                document.execCommand(type,false,data)
                            } else {
                                document.execCommand('unlink',false,false)
                            }

                        }

                    } else {

                        document.execCommand(type,false,data)

                    }

                    scope.closeModal()

                    if (typeof scope.renderPage == 'function'){
                        scope.renderPage()
                    }
                    //
                    // scope.exec_data = {}
                    // view.update('exec_data')
                    resolve()

                })

            }

            let search_box = document.querySelector('.search input')
            if (search_box){
                search_box.focus()
            }

            document.addEventListener('click', function(evt){

                let id = Date.now()

                if (evt.target.classList.contains('ce-img')){
                    evt.target.setAttribute('id', id)
                    scope.execModal('updateImage',id)
                } else if (evt.target.classList.contains('ce-link')){
                    evt.target.setAttribute('id', id)
                    scope.execModal('createLink',id)
                } else if (evt.target.classList.contains('ce-cta')){
                    evt.target.setAttribute('id', id)
                    scope.execModal('addCTA',id)
                } else if (evt.target.classList.contains('ce-icon')){
                    evt.target.setAttribute('id', id)
                   scope.execModal('insertIcon',id)
                }

            })


        }

        function getSelectionText() {
            var text = "";
            var activeEl = document.activeElement;
            var activeElTagName = activeEl ? activeEl.tagName.toLowerCase() : null;
            if (
                (activeElTagName == "textarea") || (activeElTagName == "input" &&
                /^(?:text|search|password|tel|url)$/i.test(activeEl.type)) &&
                (typeof activeEl.selectionStart == "number")
            ) {
                text = activeEl.value.slice(activeEl.selectionStart, activeEl.selectionEnd);
            } else if (window.getSelection) {
                text = window.getSelection().toString();
            }
            return text;
        }

        function getCaret(){
            var savedRange = true;
            if (window.getSelection && window.getSelection().rangeCount > 0){
                savedRange = window.getSelection().getRangeAt(0).cloneRange();
            } else if (document.selection){
                savedRange = document.selection.createRange();
            }
            return savedRange;
        }


        function setCaret(selection) {

            var range = document.createRange()
            var sel = window.getSelection()

            range.setStart(selection.startContainer, selection.startOffset)
            range.setEnd(selection.startContainer, selection.endOffset)

            sel.removeAllRanges()
            sel.addRange(range)

        }

        // window.addEventListener('resize', () => {
            // let vh = window.innerHeight * 0.01;
            // document.documentElement.style.setProperty('--vh', `${vh}px`);
        // })

    </script>
