<% layout(config.site.dashboard_theme+'/dashboard.ejs') %>

    <div class="header" app-init="getItem('<%- table %>','<%- key %>')">

        <div class="burger colspan-1">
            <a app-attr="{'href':'/dashboard/transactions/'+new.status}"><span class="icon arrowleft black"></span></a>
        </div>

        <div class="title">
            <h1 app-hide="new._id" class="capitalise"><a app-attr="{'href':'/dashboard/transactions/new'}">Cancel</a></h1>
            <h1 app-show="new._id" class="capitalise"><a app-attr="{'href':'/dashboard/transactions/'+new.status}" app-bind="new.reference">Back</a></h1>
        </div>

        <div class="buttons">

            <button class="btn bg-white" app-click="view.refund = !view.refund">
                <span class="text">Refund</span>
                <span class="icon pricetag black"></span>
            </button>

            <div app-show="new.transaction_id">
                <a class="btn bg-white capitalise" app-attr="{'href':'/dashboard/transactions/edit/'+new.transaction_id}">
                    <span>Original Transaction</span>
                </a>
            </div>
            <div>
                <a class="btn bg-white capitalise" app-attr="{'href':'/dashboard/transactions/print/'+new._key}">
                    <span class="text">Print</span>
                    <span class="icon note black"></span>
                </a>
            </div>
            <div app-show="view.refund">
                <button class="btn highlight capitalise" app-click="createRefund()">
                    <span class="text">Refund</span>
                    <span class="icon pricetag white"></span>
                </button>
            </div>
            <div app-hide="view.refund">
                <button class="btn bg-primary capitalise" app-show="new._id" app-click="saveItem('<%- table %>',new)">
                    <span class="text">Save</span>
                    <span class="icon tick white"></span>
                </button>
                <button class="btn highlight capitalise" app-hide="new._id" app-click="addItem('<%- table %>',new)">
                    <span class="text">Add</span>
                    <span class="icon plus white"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="actions">

        <div class="tabs">
            <a app-click="view.edit_tab = 'details'" app-class="{'active':view.edit_tab == 'details'}" class="capitalise">Details</a>
            <a app-click="view.edit_tab = 'items'" app-class="{'active':view.edit_tab == 'items'}" class="capitalise">Items</a>
            <a app-click="view.edit_tab = 'logs'" app-class="{'active':view.edit_tab == 'logs'}" class="capitalise">History</a>
        </div>

    </div>

    <div class="edit-wrap edit-<%- table %> ">

        <div app-show="view.edit_tab == 'details'" class="edit">

            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/select.ejs',{item:{name:'status', options: statuses, type:'string'}, max_characters:'', max_chars_text:''}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'total', input_type:'disabled', type:'price'}, max_characters:'', max_chars_text:''}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'full_name', input_type:'text', type:'string'}, max_characters:'', max_chars_text:'', obj_prefix:'customer'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'tel', input_type:'text', type:'string'}, max_characters:'', max_chars_text:'', obj_prefix:'customer'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'email', input_type:'text', type:'string'}, max_characters:'', max_chars_text:'', obj_prefix:'customer'}) %>
            <div class="input-spacer">

                <label class="text-bold">Shipping</label>
                <div></div>
            </div>

            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/select.ejs',{item:{name:'shipping_method', options: [{text:'Next Day',value:'Next Day'}], type:'string'}, max_characters:'', max_chars_text:''}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'address_line1', input_type:'text', type:'text'}, max_characters:'', max_chars_text:'', obj_prefix:'shipping_address'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'address_line2', input_type:'text', type:'text'}, max_characters:'', max_chars_text:'', obj_prefix:'shipping_address'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'address_level1', input_type:'text', type:'text'}, max_characters:'', max_chars_text:'', obj_prefix:'shipping_address'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'address_level2', input_type:'text', type:'text'}, max_characters:'', max_chars_text:'', obj_prefix:'shipping_address'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'postal_code', input_type:'text', type:'text'}, max_characters:'', max_chars_text:'', obj_prefix:'shipping_address'}) %>

        </div>

        <div app-show="view.edit_tab == 'items'">

            <div>
                <div app-for="item in new.items" class="edit">

                    <div class="input-text">

                        <label app-bind="item.name"></label>
                        <div><span app-bind="item.quantity" class="mr-1"></span> <span app-bind="parseCurrency(item.price)"></span></div>

                    </div>

                </div>
            </div>

            <div class="edit">
                <div class="input-spacer">
                    <label class="text-bold">Totals</label>
                    <div></div>
                </div>
                <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'sub_total', input_type:'disabled', type:'price'}, max_characters:'', max_chars_text:''}) %>
                <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'tax', input_type:'disabled', type:'price'}, max_characters:'', max_chars_text:''}) %>
                <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'shipping_total', input_type:'disabled', type:'price'}, max_characters:'', max_chars_text:''}) %>
                <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'total', input_type:'disabled', type:'price'}, max_characters:'', max_chars_text:''}) %>
            </div>
        </div>

        <div app-show="view.edit_tab == 'logs'" class="edit">
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'paid', input_type:'disabled', type:'date'}, max_characters:'', max_chars_text:'',obj_prefix:'status_logs'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'processed', input_type:'disabled', type:'date'}, max_characters:'', max_chars_text:'',obj_prefix:'status_logs'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'shipped', input_type:'disabled', type:'date'}, max_characters:'', max_chars_text:'',obj_prefix:'status_logs'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'completed', input_type:'disabled', type:'date'}, max_characters:'', max_chars_text:'',obj_prefix:'status_logs'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'refund', input_type:'disabled', type:'date'}, max_characters:'', max_chars_text:'',obj_prefix:'status_logs'}) %>
            <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:{name:'deleted', input_type:'disabled', type:'date'}, max_characters:'', max_chars_text:'',obj_prefix:'status_logs'}) %>
        </div>

    </div>

    <div class="loader-wrap" app-show="view.loader" data-animation="{'exit':'fade-out'}">
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
