<% layout(basedir+'/themes/default/dashboard.ejs') -%>

        <div class="header">
            <div class="title">
                <h1><%- title %></h1>
            </div>
            <div class="buttons">

                <a class="btn <% if (status == 'completed'){ %>bg-primary<% } else { %>bg-white<% } %>" href="/dashboard/transactions/archive">Archive</a>
                <!-- <a class="btn bg-primary" href="/dashboard/transactions/edit/new">Add <%- view.functions.parseName(table,true) %><i class="fa fa-plus ml-05"></i></a> -->
            </div>
        </div>

        <div class="actions">

            <div class="tabs">

                <a class="<% if (status == 'paid'){ %>active<% } %>" href="/dashboard/transactions/paid">New <span class="counter" app-show="view.status_count_obj.paid">(<span app-bind="view.status_count_obj.paid"></span>)</span></a>
                <a class="<% if (status == 'processing'){ %>active<% } %>" href="/dashboard/transactions/processing">Processing <span class="counter" app-show="view.status_count_obj.processing">(<span app-bind="view.status_count_obj.processing"></span>)</span></a>
                <a class="<% if (status == 'shipped'){ %>active<% } %>" href="/dashboard/transactions/shipped">Shipped <span class="counter" app-show="view.status_count_obj.shipped">(<span app-bind="view.status_count_obj.shipped"></span>)</span></a>

            </div>

            <% if (typeof search_fields == 'object'){ %>
                <div class="search">
                    <span class="icon search black"></span>
                    <input type="text" app-change="search('<%- table %>')" placeholder="Search <%- title %>">
                </div>
            <% } %>
        </div>


        <div class="table-wrap rounded">

            <div class="table button-overlay" app-show="view.selected" data-animation="{'enter':'fade-in','exit':'fade-out'}">
                <div class="row table-header">
                    <div class="cell middle text-left select-all"><input type="checkbox" app-model="view.all_selected" app-click="selectAll()" class="border"></div>
                    <div class="cell middle text-left">
                        <div class="flex button-wrap">
                            <div class="context-link btn border text-black pr-1" app-click="toggleContext('change-status')" style="width: 13rem;">
                                <span app-bind="view.all_action_text" class="flex-1"></span>
                                <span class="icon arrowdown primary right float-right" class="flex-none"></span>
                            </div>
                            <button app-click="processAllAction()" class="bg-primary">Apply</button>
                        </div>
                    </div>
                    <div class="cell middle text-right">

                        <% if (status == 'paid'){ %><button class="bg-secondary" app-click="updateAll('processing')">Print and Process<span class="icon arrowright white right"></span></button><% } %>
                        <% if (status == 'processing'){ %><button class="bg-secondary" app-click="updateAll('shipped')">Mark as Shipped<span class="icon arrowright white right"></span></button><% } %>
                        <% if (status == 'shipped'){ %><button class="bg-secondary" app-click="updateAll('completed')">Mark as Complete<span class="icon arrowright white right"></span></button><% } %>

                    </div>
                </div>
            </div>


            <div class="table" app-init="get('<%- table %><% if (typeof query != 'undefined'){ %><%- query %><% } %>')">
                <div class="row table-header">

                    <div class="cell middle select-all"><input type="checkbox" app-model="view.all_selected" app-click="selectAll()" class="border"></div>
                    <div class="cell middle text">Ref / Date</div>
                    <div class="cell middle">Customer / <% if (status == 'processing'){ %>Shipping<% } else { %>Email<% } %></div>
                    <% if (status == 'processing'){ %>
                        <div class="cell middle text-left" style="width:40%">Delivery / Tracking</div>
                    <% } %>
                    <div class="cell middle price text-right">Total</div>
                    <div class="cell middle status text-right">Status</div>
                    <div class="cell middle text-right action"></div>

                </div>

            </div>

            <div class="table-inner-wrap">
                <div class="table">

                    <div class="row" app-for="transaction in transactions" app-class="{'transparent-2':transaction.status != '<%- status %>'}">

                        <div class="cell middle select-all"><input type="checkbox" app-model="transaction.selected" app-change="showActions()" class="border"></div>

                        <div class="cell middle text title" app-click="goto('transactions/edit',transaction._key)">
                            <div class="text-secondary text-bold" app-bind="transaction.reference"></div>
                            <div class="text-light" app-bind="parseDate(transaction._created,'Do MMM h:mma')"></div>
                        </div>
                        <div class="cell middle">
                            <div app-bind="transaction.customer.full_name" class="text-bold capitalise"></div>

                            <% if (status == 'processing'){ %>
                                <span class="mr-05" app-bind="transaction.shipping_method"></span>(<span app-bind="parseCurrency(transaction.shipping_total)"></span>)
                            <% } else { %>
                                <span class="mr-1" app-bind="transaction.customer.email"></span><span app-bind="transaction.customer.tel"></span>
                            <% } %>

                        </div>

                        <% if (status == 'processing'){ %>
                            <div class="cell middle action text-right pr-2" style="width:40%">
                                <div class="grid col-6">
                                    <select app-model="transaction.shipping_company" app-attr="{'id':transaction._key}" placeholder="Select Courier..." class="colspan-2 bg-light-grey2" style="border-top-right-radius: 0;border-bottom-right-radius: 0;">
                                        <option value="" selected>Select Courier...</option>
                                        <option value="dpd">DPD</option>
                                        <option value="royal_mail">Royal Mail</option>
                                        <option value="yodel">Yodel</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <div class="colspan-4 flex">
                                        <input type="text" app-model="transaction.shipping_reference" app-change="checkTracking($index)" style="border-top-left-radius: 0;border-bottom-left-radius: 0; border-left:0">
                                        <button app-show="transaction.shipping_reference" class="btn bg-white btn-field" app-click="addTracking(transaction)"><span class="icon tick primary"></span></button>
                                    </div>
                                </div>
                            </div>

                        <% } %>

                        <div class="cell middle price text-right text-bold" app-bind="parseCurrency(transaction.total)"></div>
                        <div class="cell middle text-right status"><div class="status" app-class="transaction.status" app-bind="transaction.status" app-click="goto('transactions',transaction.status)"></div></div>
                        <div class="cell middle text-right context-link" app-attr="{'id':'cell-'+<%- view.functions.depluralise(table) %>._key}">

                            <div class="context-menu context-link btn" app-click="toggleContext('context',$index)">
                                <span class="icon threedots black context-link"></span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    <div id="change-status" class="context dropdown from-button text-left" style="display: none" data-animation="{'enter':'fade-in','exit':'fade-out'}">
        <div class="link text-bold" app-bind="view.all_action_text"></div>
        <% statuses.forEach((status,i)=>{ %>

            <% if (status.value != 'new'){ %>
                <div class="link" app-click="selectAllAction('<%- status.value %>','Mark as <%- status.text %>')">
                    Mark as <%- status.text %>
                </div>
            <% } %>

        <% }) %>
        <div class="link" app-click="selectAllAction('print', 'Print Selected')">
            Print Selected
        </div>

    </div>


    <div id="context" class="context dropdown text-left" style="display: none">
        <div class="link" app-click="editTransacton()">
            <i class="fas fa-pen-alt"></i>
            Edit
        </div>
        <div class="link" app-click="deleteItem('<%- table %>')">
            <i class="fas fa-trash"></i>
            Delete
        </div>
    </div>


    <modal-auto app-show="view.modal == 'show_transaction'" data-title="Transaction" class="modal-auto-large">

        <div class="flex flex-middle-right mb-1">

            <% if (status == 'paid'){ %><button class="bg-secondary flex-none" app-click="updateSingle('processing')">Print and Process</button><% } %>
            <% if (status == 'processing'){ %>
                <div class="grid col-6 gap-1 flex-none">
                    <select app-model="new.shipping_method" class="colspan-2">
                        <option value="">Select Courier</option>
                        <option value="dpd">DPD</option>
                        <option value="royal_mail">Royal Mail</option>
                        <option value="yodel">Yodel</option>
                        <option value="other">Other</option>
                    </select>

                    <input type="text" app-model="new.shipping_reference" app-change="checkTracking($index)" class="colspan-3" placeholder="Tracking Number">
                </div>
                <button class="bg-secondary flex-none" app-click="updateSingle('shipped')">Mark as Shipped</button>
            <% } %>
            <% if (status == 'shipped'){ %><button class="bg-secondary flex-none" app-click="updateSingle('completed')">Mark as Complete</button><% } %>
            <img app-src="new.barcode" class="icon xl flex-none ml-05">
        </div>

        <div class="grid col-4 gap-2">

            <div class="colspan-m-2">

                <div>
                    <label>Reference</label>
                    <input type="text" app-model="new.reference">
                </div>

                    <label class="within">Status</label>
                    <select app-model="new.status">
                        <% statuses.forEach((status,i)=>{ %>
                            <% if (status.value != 'new'){ %>
                                <option value="<%- status.value %>"><%- status.text %></option>
                            <% } %>
                        <% }) %>
                    </select>


                        <label class="within">Shipping Method</label>
                        <input type="text" app-model="new.shipping_method" disabled>

            </div>

            <div class="colspan-m-2">
                <label>Customer</label>
                <input type="text" app-model="new.customer.full_name" placeholder="Name">
                <input type="text" app-model="new.customer.tel" placeholder="Tel">
                <input type="text" app-model="new.customer.email" placeholder="Email">
                <label class="within">Notification Method</label>
                <select app-model="new.customer.notification_method">
                    <option value="" disabled>Not Specified</option>
                    <option value="email">Email</option>
                    <option value="sms">SMS</option>
                </select>
            </div>

            <div class="colspan-m-2">
                <label>Billing Address</label>
                <input type="text" app-model="new.billing_address.address_line1" placeholder="Line 1">
                <input type="text" app-model="new.billing_address.address_line2" placeholder="Line 2">
                <input type="text" app-model="new.billing_address.address_level1" placeholder="Town / City">
                <input type="text" app-model="new.billing_address.address_level2" placeholder="County">
                <input type="text" app-model="new.billing_address.postal_code" placeholder="Postcode">
            </div>

            <div class="colspan-m-2">
                <label>Shipping Address</label>
                <input type="text" app-model="new.shipping_address.address_line1" placeholder="Line 1">
                <input type="text" app-model="new.shipping_address.address_line2" placeholder="Line 2">
                <input type="text" app-model="new.shipping_address.address_level1" placeholder="Town / City">
                <input type="text" app-model="new.shipping_address.address_level2" placeholder="County">
                <input type="text" app-model="new.shipping_address.postal_code" placeholder="Postcode">
            </div>


            <div class="colspan-4">
                <div class="table">
                    <div class="row table-header">
                        <div class="cell" style="width:50%;">Item</div>
                        <div class="cell text-center">Qty</div>
                        <div class="cell text-right">Price</div>
                        <div class="cell text-right">Adj.</div>
                        <div class="cell text-right">Paid</div>
                        <div class="cell text-right">Tax</div>
                        <div class="cell text-right">Total</div>
                    </div>
                    <div class="row" app-for="item in new.items">
                        <div class="cell text-bold" app-bind="item.name"></div>
                        <div class="cell text-center" app-bind="item.quantity"></div>
                        <div class="cell text-right"><span app-show="item.original_price" app-bind="parseCurrency(item.original_price)"></span><span app-hide="item.original_price" app-bind="parseCurrency(item.price)"></span></div>
                        <div class="cell text-right" app-bind="parseAdjustment(item.adjustment)"></div>
                        <div class="cell text-right" app-bind="parseCurrency(item.price)"></div>
                        <div class="cell text-right" app-bind="parseCurrency(item.tax)"></div>
                        <div class="cell text-right text-bold" app-bind="parseCurrency(item.total)"></div>
                    </div>
                </div>
            </div>

            <div class="colspan-2">
                <div class="table">
                    <div class="row table-header">
                        <div class="cell py-0" style="width:50%;">Logs</div>
                        <div class="cell py-0 text-right"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0">Created</div>
                        <div class="cell py-0" app-bind="parseDate(new._created,'DD/MM/YY h:mma')"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0">Paid</div>
                        <div class="cell py-0" app-bind="parseDate(new.status_logs.paid,'DD/MM/YY h:mma')"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0">Processed</div>
                        <div class="cell py-0" app-bind="parseDate(new.status_logs.processing,'DD/MM/YY h:mma')"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0">Shipped</div>
                        <div class="cell py-0" app-bind="parseDate(new.status_logs.shipped,'DD/MM/YY h:mma')"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0">Completed</div>
                        <div class="cell py-0" app-bind="parseDate(new.status_logs.completed,'DD/MM/YY h:mma')"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0">Deleted</div>
                        <div class="cell py-0" app-bind="parseDate(new.status_logs.deleted,'DD/MM/YY h:mma')"></div>
                    </div>
                </div>
            </div>

            <div class="hidden-s hidden-m"></div>

            <div class="colspan-m-2">
                <div class="table">
                    <div class="row table-header">
                        <div class="cell py-0" style="width:50%;">Totals</div>
                        <div class="cell py-0 text-right"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0">Sub Total</div>
                        <div class="cell py-0 text-right" app-bind="parseCurrency(new.sub_total)"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0">VAT</div>
                        <div class="cell py-0 text-right" app-bind="parseCurrency(new.tax)"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0">Item Total</div>
                        <div class="cell py-0 text-right" app-bind="parseCurrency(new.item_total)"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0 pt-1">Shipping</div>
                        <div class="cell py-0 text-right pt-1" app-bind="parseCurrency(new.shipping_total)"></div>
                    </div>
                    <div class="row">
                        <div class="cell py-0 text-bold">Total</div>
                        <div class="cell py-0 text-right text-bold" app-bind="parseCurrency(new.total)"></div>
                    </div>
                </div>
            </div>



        </div>

        <div class="flex flex-middle-right mt-2">
            <button class="btn bg-secondary" app-show="new.status == 'completed'">
                Create Refund or Exchange<i class="fas fa-receipt ml-1"></i>
            </button>
            <button class="btn bg-secondary capitalise" app-hide="new.status == 'completed'" app-click="saveItem('<%- table %>',new)">
                <span>Save <%- view.functions.depluralise(table) %></span>
                <i class="fas fa-check ml-1"></i>
            </button>

        </div>

    </modal-auto>
