<% layout(config.site.theme+'/dashboard.ejs') -%>

    <div class="grid col-2 header">
        <div class="flex flex-middle-left flex-column">
            <h3 class="text-weight-600"><%- title %></h3>
            <p class="transparent-2" app-show="<%- table %>">This table contains <span app-bind="<%- table %>.length"></span> item(s)</p>

        </div>
        <div class="flex flex-middle-right">
            <div class="flex-1 flex">
                <button class="bg-33-white text-33-grey pr-0 flex-none"><i class="fas fa-search"></i></button>
                <input type="text" class="flex-5" app-change="search('<%- table %>')" placeholder="Search by reference, name, email or mobile number">

                <% if (status == 'paid'){ %><button class="bg-secondary flex-2" app-click="printAll()">Print Selected</button><% } %>
                <% if (status == 'processing'){ %><button class="bg-secondary flex-2" app-click="shipAll()">Mark as Shipped</button><% } %>

                <div class="flex-none context-link btn bg-secondary text-white" app-click="toggleContext('change-status')" style="margin-left:1px">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-wrap">
        <div class="table" app-init="get('<%- table %><% if (typeof query != 'undefined'){ %><%- query %><% } %>')">
            <div class="row table-header">

                <div class="cell middle action" style="width: 2rem">Reference</div>
                <div class="cell middle action">Customer</div>
                <div class="cell middle action" style="width: 1rem">Items</div>
                <div class="cell middle status" style="width: 1rem">Status</div>
                <div class="cell middle action text-right" style="width: 1rem"><input type="checkbox" app-click="selectAll()" class="border"></div>
            </div>

            <div class="row" app-for="transaction in transactions" app-class="{'transparent-2':transaction.status != '<%- status %>'}">

                <div class="cell middle text-secondary text-bold" app-click="editTransacton()" app-bind="transaction.reference"></div>
                <div class="cell middle name">
                    <div app-bind="transaction.customer.name" class="text-bold"></div>
                    <div app-bind="transaction.customer.email"></div>
                    <div app-bind="transaction.customer.tel"></div>
                </div>
                <div class="cell middle items" app-bind="transaction.items.length"></div>
                <div class="cell middle items" app-bind="transaction.status"></div>
                <div class="cell middle action text-right"><input type="checkbox" app-model="transaction.selected" class="border"></div>
            </div>
        </div>
    </div>

    <div id="change-status" class="context dropdown text-left" style="display: none">
        <% statuses.forEach((status,i)=>{ %>

            <% if (status.value != 'new'){ %>
                <div class="link" app-click="updateAll('<%- status.value %>')">
                    <i class="fas fa-<%- status.icon %>"></i>
                    <%- status.text %>
                </div>
            <% } %>

        <% }) %>
        <div class="spacer"></div>
        <div class="link" app-click="printAll()">
            <i class="fas fa-print"></i>
            Print Selected
        </div>

    </div>


    <div id="context" class="context dropdown text-left" style="display: none">
        <div class="link" app-click="editTransacton()">
            <i class="fas fa-pen-alt"></i>
            Edit
        </div>
        <div class="link" app-click="deleteItem('<%- table %>')">
            <i class="fas fa-trash"></i>
            Delete
        </div>
    </div>


    <modal-auto app-show="view.modal == 'show_transaction'" data-title="Transaction" class="modal-auto-large">


        <div class="text-right">
            <button class="btn highlight capitalise" app-show="new._id" app-click="saveItem('<%- table %>',new)">
                <span>Save <%- view.functions.depluralise(table) %></span>
            </button>
            <button class="btn highlight capitalise" app-hide="new._id" app-click="addItem('<%- table %>',new)">
                <span>Add <%- view.functions.depluralise(table) %></span>
            </button>
        </div>

    </modal-auto>
