<%
    if (typeof obj_prefix == 'undefined'){
        var obj_prefix = false
    }
    if (typeof array_obj == 'undefined'){
        var array_obj = false
    }
%>

<% if (item.input_type == 'image'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/image.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'select'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/select.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'search_select'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/search_select.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'date'){ %>

    <%- include(config.site.theme_path+'/partials/input_fields/fields/datepicker.ejs', {item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'datetime'){ %>

    <%- include(config.site.theme_path+'/partials/input_fields/fields/datepicker.ejs', {item:item, datetime:true, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'multiselect'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/multiselect.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'textarea'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/textarea.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'array' && item.subitems){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/object_array.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'array'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/array.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'model_array'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/model_array.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>


<% } else if (item.input_type == 'img_array'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/img_array.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'object'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/object.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'hidden'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/hidden.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type == 'contenteditable'){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/contenteditable.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } else if (item.input_type){ %>

    <%- include(view.basedir+'/themes/default/partials/input_fields/fields/auto.ejs',{item:item, max_characters:max_characters, max_chars_text:max_chars_text, obj_prefix: obj_prefix, array_obj: array_obj}) %>

<% } %>

<% if (item.input_type && item.margin_bottom && item.margin_bottom === true){ %>

    <div class="colspan-3 mb-2"></div>

<% } %>
