<% layout(config.site.theme+'/page.ejs') -%>


<section class="category breadcrumbs">
    <div class="contain">
        <h1 class=""><%- category.name %></h1>
    </div>
</section>

<section class="bg-cream-1 h-100">

    <div class="contain">

        <div class="text-center">

            <% if (typeof parent_category == 'object'){ %>
                <a class="h6 lh2 block <% if (category.description){ %>mb-3<% } %>" href="/<%- parent_category.slug %>">Back to <%- parent_category.name %></a>
            <% } else { %>
                <% var parent_category = '' %>
            <% } %>
            <% if (category.description){ %>
                <p class="h6 lh2 pt-3"><%- category.description %></p>
            <% } %>
        </div>

        <% if (category.sub_categories){ %>

            <div class="grid col-2 col-s-1 gap-2 pt-3">

                <% category.sub_categories.forEach((sub_category,i)=>{ %>

                    <% if (sub_category != null && typeof sub_category.slug == 'string'){ %>

                        <%- include('partials/category_thumb.ejs',{parent_category:category, category:sub_category}) %>

                    <% } %>

                <% }) %>

            </div>

        <% } %>

        <div class="grid col-4 col-s-2 gap-2 mt-2">

            <% if (typeof products == 'object' && products.length > 0){ %>

                <% products.forEach((product,i)=>{ %>

                    <%- include('partials/product_thumb.ejs',{product: product, parent_category: parent_category, category:category}) %>

                <% }) %>

            <% } %>

        </div>

        <div class="contain my-6 text-center">
            <a class="h6 lh2 block" href="/<%- shop.slug %>">View All Categories</a>
        </div>

    </div>

</section>
