<% layout(config.site.theme+'/page.ejs') -%>


<section class="vh-40 relative flex flex-middle flex-column bg-text-dark bg-cover"<% if (shop.image){ %> style="background-image: url('<%- shop.image %>')"<% } %>>

    <h1 class="text-33-white mb-1" anim="{'enter':'fade-in','duration':'3s'}"><%- shop.name %></h1>
    <% if (shop.sub_title){ %>
        <div class="contain">
            <div class="contain">
                <h2 class="text-33-white" style="font-size: 1.2em" anim="{'enter':'move-down','delay':'0.5s','duration':'0.5s'}"><%- shop.sub_title %></h2>
            </div>
        </div>
    <% } %>
</section>

<section class="">



        <% if (shop.description){ %>
            <div class="contain py-6">
                <div class="contain mb-6">
                    <p class="h6 lh2"><%- shop.description %></p>
                </div>
            </div>
        <% } %>



    <% if (Array.isArray(categories)){ %>

        <div class="grid col-2 col-s-1">

            <% categories.forEach((category,i)=>{ %>

                <% if (typeof category.slug != 'undefined'){ %>
                <a href="/<%- category.slug %>" class="block bg-text-dark bg-cover rounded flex overflow-hidden shadow flex flex-middle flex-column p-8 px-m-3 py-m-6 px-s-3 py-s-6" anim="{'enter':'move-up'}" style="background-image:url('<%- category.image %>')">

                    <h2 class=" text-weight-500 text-33-white"><%- category.name %></h2>
                    <p class=" text-33-white"><%- category.sub_title %></p>

                </a>
                <% } %>

            <% }) %>

        </div>

    <% } %>

</section>
