<section class="content-blog <%- styling.background.class %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Blog Header" app-block-description="This is a blog block">

    <div class="contain text-left py-3">


        <div class="grid col-3 col-s-1 gap-4">

            <div class="colspan-2">

                <h1 class="underline"><span app-input="text" app-field="title"><%- data.title %></span></h1>
                <h4 class="underline mb-2"><span app-input="text" app-field="sub_title"><%- data.sub_title %></span></h4>

                <% if (typeof date != 'undefined'){ %><p class="italic mb-2"><%- view.functions.parseDate(date,'llll') %></p><% } %>

                <% if (typeof data == 'object'){ %>
                    <% if (typeof data.content != 'undefined'){ %><article app-input="textarea" app-field="content"><%- data.content %></article><% } %>
                <% } %>

            </div>
            <div class="details pt-1">
                <h4 class="capitalise mb-1">Recent <%- view.functions.pluralise(content_type) %></h4>
                <% if (typeof recent != 'undefined'){ %><%- recent %><% } %>
                <% if (typeof content_type == 'object' && content_type.slug){ %><a class="block mt-1" href="/<%- content_type.slug %>">View All</a><% } %>
            </div>

        </div>

    </div>

</section>
