<section class="<% if (typeof styling != 'undefined' && styling.background){ %><%- styling.background.class %><% } %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Text Two Column" app-block-description="This is a two column text block">

    <div class="contain <%- data.container_classes %>" app-input="none" app-field="container" app-styling="container_class">

        <div class="grid col-2 col-s-1 <%- data.grid_classes %>" app-input="none" app-field="grid" app-styling="grid_class">
            <div class="text-pre-line <%- data.text_left_classes %>" app-input="textarea" app-field="text_left" app-styling="left_class" anim="{'enter':'move-up'}">
                <%- data.text_left %>
            </div>
            <div class="text-pre-line <%- data.text_right_classes %>" app-input="textarea" app-field="text_right" app-styling="right_class" anim="{'enter':'move-up'}">
                <%- data.text_right %>
            </div>
        </div>

    </div>

</section>
