<%- include('partials/head.ejs',{dashboard:true}) %>

    <body class="dashboard">

        <%- include partials/side_nav.ejs %>
        <div class="notification" app-show="view.notification.msg" app-click="view.notification = {}" data-animation="{'enter':'slide-left','exit':'slide-left'}" app-class="view.notification.type">
            <div app-bind="view.notification.msg" class="text pr-2">This is a message</div>
            <div class="icon"><span class="icon white" app-class="view.notification.icon"></span></div>
        </div>

        <div class="page">



            <%- body -%>
        </div>

        <% if (typeof table != 'undefined'){ %>
            <%- include('partials/modals/media_library.ejs'); %>
            <%- include('partials/modals/delete.ejs'); %>
        <% } %>

        <%- include('partials/scripts.ejs') %>

        <% if (typeof include_scripts != 'undefined') { %>

            <% include_scripts.forEach((script,i)=>{ %>
                <% if (fs.existsSync(view.basedir+'/components/'+script)) { %>
                    <%- include(view.basedir+'/components/'+script) %>
                <% } %>
            <% }) %>

        <% } %>


    </body>
</html>
